// 底部
.gf-footer
    .container
        .foot-logo.fl
            img.mt30(src='#{current.base}img/logo.png')
            p 为您省时省力的在线课堂
        .foot-links.fr.mt30.tr
            each link, index in foot_links
                a(href="#", target="_blank")= link.label
                unless index == foot_links.length - 1
                    i |
            .foot-download.mt10
                .show-inline
                    .copyright
                        a(href="http://www.miibeian.gov.cn/", title="粤ICP备13042184号-1") &copy; 2010-2013 高分网 粤ICP备13042184号-1
                    a(href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=44010402000565", target="_blank")
                        img(src="#{current.base}img/footer-beian.png", alt="备案")
                        span 公网安备 44010402000565号
                a(href="http://210.76.65.188/newwebsite/index.htm", title="广州网络警察报警平台", target="_blank")
                    img(src='#{current.base}img/footer-police.png')
                a(href="http://210.76.65.188/netalarm/index.jsp", title="不良信息举报中心", target="_blank")
                    img(src='#{current.base}img/footer-report.png')
