//- -----------------------------
//- 元件：按钮
//- -----------------------------
mixin button(params)
  - var params = params || {}
  - var button_classes = []

  if params.option
    - button_classes.push("btn-"+params.option)

  if params.block
    - button_classes.push("btn-block")

  if params.disabled
    - button_classes.push("disabled")

  if params.ex_class
    - button_classes.concat(params.ex_class)

  if params.element == "button"
    button.btn(class=button_classes)= params.text
  else
    a.btn(href="#", class=button_classes)= params.text

//- -----------------------------
//- 元件：标签列表
//- -----------------------------
mixin tag-list(tags)
  ul.tag-list
    each tag in tags
      li= tag.label

//- -----------------------------
//- 元件：过滤器
//- -----------------------------
mixin filter(params)
  - var params = params || {}
  - var filter_count = params.count || 5

  .ui-filter(class="#{params.active ? 'ui-filter-active':''}")
    .iconfont.label= params.label

//- -----------------------------
//- 元件：过滤器组
//- -----------------------------
mixin filter-group(filters)
  .ui-filter-group
    each item in filters
      +filter(item)

//- -----------------------------
//- 元件：下拉选项
//- -----------------------------
mixin options(count)
  - var option_count = count || 5

  .ui-options.hidden
    ul
      - for(var i=1; i<=option_count; i++)
        li(class="#{i==1 ? 'ui-option-selected':''}")
          a(href="#")= "选项" + i

mixin options-more-ul(count)
  - var option_count = count || 5

  .ui-options.ui-options-flex.hidden
    ul.ui-first-options
      - for(var i=1; i<=option_count; i++)
        li(class="#{i==1 ? 'ui-option-selected':''}")
          a(href="#")= "选项" + i
    ul.ui-second-options
      - for(var i=1; i<=option_count; i++)
        li(class="#{i==1 ? 'ui-option-selected':''}")
          a(href="#")= "选项" + i

//- -----------------------------
//- 元件：占位图片
//- -----------------------------
mixin dummy(width, height)
  - var img_width = width
  - var img_height = height || width
  - var img_name = ''

  - if( typeof width == "number")
    - img_name = img_width + 'x' + img_height + '.png'
  - else
    - img_name = img_width

  img(src="#{current.base}images/dummies/#{img_name}", alt="")

//- -----------------------------
//- 元件：头像
//- -----------------------------
mixin avatar(size)
  span.ui-avatar
    +dummy("avatar_" + size + "x" + size + ".png")

//- -----------------------------
//- 元件：广告
//- -----------------------------
mixin ad(width, height, dismissable, count)
  - var ad_width = width || 640
  - var ad_height = height || 70
  - var ad_count = count || 1

  .ui-picture
    ul.ui-picture-container
      - for(var i=1; i<=ad_count; i++)
        li
          a(href="#", target="_blank")
            +dummy(ad_width, ad_height)

    if ad_count > 1
      .ui-picture-pagination
        - for(var i=1; i<=ad_count; i++)
          span(class="#{i==1?'active':''}")= i

    if dismissable
      span.close

//- -----------------------------
//- 元件：分页
//- -----------------------------
mixin pagination(params)
  - params = params || {}

  .ui-pagination
    if params.prev_disabled
      span.disabled 上一页
    else
      a.ui-pagination-prev(href="#") 上一页
    span 1/32
    if params.next_disabled
      span.disabled 下一页
    else
      a.ui-pagination-next(href="#") 下一页


//- -----------------------------
//- 元件：多彩标签
//- -----------------------------
mixin label(text, type)
  .ui-label(class="#{type ? 'ui-label-'+type: ''}")= text

//- -----------------------------
//- 元件：星级
//- -----------------------------
mixin stars(params)
  - var params = params || {}
  - var star_classes = []

  - star_classes.push("ui-stars-" + params.count)

  if params.favour
    - star_classes.push("ui-stars-favour")
    
  if params.trim
    - star_classes.push("ui-stars-trim")

  if params.size && params.size == "small"
    - star_classes.push("ui-stars-sm")

  .ui-stars(class=star_classes)
    - for(var i=1; i<=5; i++)
      span.iconfont

//- -----------------------------
//- 元件：带文本星级
//- -----------------------------
mixin stars-with-text(params)
  .levels
    span.label 星级：
    +stars(params)

//- -----------------------------
//- 元件：选项卡
//- -----------------------------
mixin tab(tabs)
  ul.ui-tab
    each tab in tabs
      li(class="#{tab.active ? 'ui-tab-item-active':''}")
        != tab.label
        if tab.count
          span
            | (
            != tab.count
            | )

//- -----------------------------
//- 元件：教师姓名
//- -----------------------------
mixin teacher-name
  .teacher-name
    | Mike老师
    span (ID: 0031)

mixin teacher-feedback-name
  .teacher-feedback-name
    | 莫老师
    span (ID：0032)
    span 英语
    span 四年级

mixin teacher-teach-time
  .teacher-feedback-time
    | 上课时间段：
    time 11月12日
    time 10:00~10:30
mixin teacher-feedback-time
  .teacher-feedback-time
    label
      | 填写日期：
      time 2015-8-16
    label
      | 课时：
      span 2.0