- var suffix = environment == "production" ? ".min" : "";

//- 导入元件
//------------------------------
//- 全站公用元件
include ../../partials/_components
//- 百科特定元件
include partials/_components

//- 导入侧栏挂件
//------------------------------
include partials/_widgets

doctype html
html
  head
    meta(charset="UTF-8")
    title= site_name + page_title
    meta(name="keyword", content="")
    meta(name="description", content="")
    link(rel="stylesheet", href="#{current.base}css/default/base#{suffix}.css")
    if stylesheets
      each stylesheet in stylesheets
        link(rel="stylesheet", href="#{current.base}css/#{category}/#{stylesheet}#{suffix}.css")
  body(class=body_class ? body_class : false, id=body_id ? body_id : false)
    #wrap
      // Start: 顶部导航
      include ../../partials/_topbar
      // End: 顶部导航

      // Start: 页头
      include partials/_header
      // End: 页头

      block content

      // Start: 页脚
      if old_layout
        include ../../partials/_old-footer
      else
        include ../../partials/_footer
      // End: 页脚

    // Start: 返回顶部
    include ../../partials/_gotop
    // End: 返回顶部