---
page_title: "初中库-详情页"
category: "library"
body_class: ["details-page", "tab-page"]
stylesheets: ["junior"]
details_tabs: true,
modals: ["comparison-list", "baidu-map"]
breadcrumb: ["首页", "学校信息", "华南师范大学附属中学"]
is_new: false
hide_widget_weixin: true
---

//- 模板继承
extends ../_layout

//- 导入初中库组件
include partials/_components

//- 导入详情选项卡
include ../partials/_tabs

block header
  // Start: 页头
  +header("junior")
  // End: 页头

//- 内容
block content
  +ad({width:980, ex_class:["container", "picture-top"], count:3})

  +breadcrumb({breadcrumb:breadcrumb})

  .container.page-content
    .school-summary.mb25
      .school-heading
        .operations
          a(href="#", target="_blank") 学校介绍
          i |
          a(href="#", target="_blank") 查看该校高中
        .title
          h1 华南师范大学附属中学
          span.meta 简称：华师
          span.meta 人气：1231123
      .cont.clearfix
        .picture
          a.thumb(href="#", target="_blank")
            +dummy(260, 195)
            span.tit
              | 共18张相关照片
              i.bg
          .orig1
          .orig2
        .info
          .sec.sec-properties
            ul
              li.col-1
                span.label 办学性质：
                span.cont 民办
              li.col-2
                span.label 所在区域：
                span.cont 海珠区
              li.col-3
                span.label 入学途径：
                span.cont 派位/直升/特长生/择校
          .sec.sec-stars
            ul
              li
                p 入学难度：
                .vote-stars.vote-stars-3
              li
                p 中考成绩：
                .vote-stars.vote-stars-8
              li
                p 热门程度：
                .vote-stars.vote-stars-10
              li
                p 学费高低：
                .vote-stars.vote-stars-10
          .sec.sec-comments
            +comment-pills({label:"高分网点评"})
          .sec.sec-metas
            p.address
              span
                | 地址：广州市天河区中山大道西1号
              a(href="#", target="_blank").icon-pin
            p
              span
                | 电话：020-88576203
            p
              | 官网：
              a(href="#", target="_blank") www.gaofen.com
          .actions
            a.btn-add-comparison(href="#")
              span 加入对比
            a.btn-follow(href="#")
              span 收藏本校
            a.btn-add-comparison.btn-added-comparison(href="#")
              span 取消对比
            a.btn-follow.btn-followed(href="#")
              span 取消收藏

    .row.row14-6
      .span14
        +details-tabs(library_school_tabs.junior)
        .school-desc
          // Start: 无招生信息、学校实力、学生生活
          .alert.alert-info
            i.ico
            .info
              p 小编正在积极为你搜罗中！
              p
                | 如你熟悉该校情况，欢迎报料（请联系QQ1833538827），
                br
                |有大量高分币和好礼相送哦～
          // End: 无招生信息、学校实力、学生生活

          // Start: 无推荐资料
          .alert.alert-info.alert-single
            i.ico
            .info
              p 该校暂无相关资料
          // End: 无推荐资料

          // Start: 无学校要闻
          .alert.alert-info.alert-single
            i.ico
            .info
              p 该校暂无要闻
          // End: 无学校要闻

          // Start: 置顶消息
          .sub-mod
            .sub-mod-hd
              .more
                a(href="#", target="_blank") 更多
              .title 置顶消息
            .sub-mod-bd
              .list.post-list.stat-post
                ul
                  - var i = 3
                  - while(i--)
                    li
                      span.date 2014-03-22
                      .tit
                        a(href="#", target="_blank")= article.title
          //End: 置顶消息

          // Start: 录取分数线
          .sub-mod
            .sub-mod-hd
              .title 录取分数线
            .sub-mod-bd
              .table.data-table
                table
                  thead
                    tr
                      th.w60
                        .gap 年份
                      th
                        .gap 中考平均分
                      th
                        .gap 参加考试人数
                      th
                        .gap 全市平均分
                      th.w180
                        .gap 国家师范高中上线比例
                  tbody
                    - for(var i=2010; i<=2014; i++)
                      tr(class="#{i%2==1 ? 'even' : ''}")
                        td= i
                        td 554
                        td 666
                        td 71
                        td 23
          //End: 录取分数线

          // Start: 经验分享
          .sub-mod
            .sub-mod-hd
              .title 经验分享
            .sub-mod-bd
              .comment-list
                ul
                  - var i = 3
                  - while(i--)
                    li
                      .user
                        .avatar
                          +avatar(60)
                        .info
                          .name
                            strong= article.author
                            span 2014年入读初一
                          +comment-pills({label:"印象"})
                      .comment-cont
                        p= article.summary
                        p= article.summary
                      if i == 1
                        .operations
                          a.unfold(href="#") 展开
                            i.arrow
                      if i == 0
                        .operations
                          a.fold(href="#") 收起
                            i.arrow
                      span.date 2014-11-07
                // 查看更多
                .view-more
                  a(href="#") 查看更多经验
                  .loading-mini
                // Loading
                .view-more.view-loading
                  a(href="#") 查看更多经验
                  .loading-mini
          //End: 经验分享

          // Start: 纯文本模块
          .sub-mod
            .sub-mod-hd
              .title 纯文本模块
            .sub-mod-bd
              .text-cont
                p= article.content
                p= article.content
          //End: 纯文本模块
      .span6
        // Start: 侧栏挂件-热门学校推荐
        +widget-rec-school({tabs:[{label:"全市", active:true}, {label:"本区"}], operations_text:"对比"})
        // End: 侧栏挂件-热门学校推荐

        // Start: 侧栏挂件-他们也对这所学校感兴趣
        +widget-events({tabs:[{label:"全市", active:true}, {label:"本区"}], operations_text:"对比"})
        // End: 侧栏挂件-他们也对这所学校感兴趣

        // Start: 侧栏挂件-您浏览过的学校
        +widget-history
        // End: 侧栏挂件-您浏览过的学校

        // Start: 侧栏挂件-关注高分中考
        +widget-follow-s2({type:"zk"})
        // End: 侧栏挂件-关注高分中考

