---
page_title: "初中库-升学指导页"
category: "library"
body_class: ["guide-page"]
stylesheets: ["junior"]
tools:
  -
    id: "spec-recruit"
    name: "特长生招生"
    sub_text: "（广州地区）"
    description: "什么特长可以考什么学校，一查便知道"
  -
    id: "school-rec"
    name: "民校推荐"
    sub_text: "（广州地区）"
    description: "根据您的个人情况推荐民校"
  -
    id: "xsc-baike"
    name: "小升初百科"
    description: "小升初升学政策、招生信息和志愿填报的扫盲必备"
  -
    id: "xsc-data"
    name: "小升初资料库"
    description: "广州最全面的小升初备考资料"
is_new: false
---

//- 模板继承
extends ../_layout

block header
  // Start: 页头
  +header("junior")
  // End: 页头

//- 内容
block content
  .container.page-content
    // Start: 升学指导工具列表
    .guide-tools
      .tool-list
        ul
          each tool, index in tools
            li(class="#{tool.id}#{index%2==1 ? ' even' : ''}")
              a(href="#", target="_blank")
                i.ico
                span.name
                  != tool.name
                  if tool.sub_text
                    span.sub= tool.sub_text
                span.desc= tool.description
    // End: 升学指导工具列表

    // Start: 特长生招生
    .guide-tools
      .tool-details
        .hd 特长生招生
        .bd
          .form
            .form-row
              label.control-label 您的孩子在广州市的哪个区域就读？
              .controls
                +select({value:"请选择学校所在区域", options:{count:8, text:"天河区"}})
            .form-row
              label.control-label 您的孩子在广州市的哪个区域就读？
              .controls
                +select({value:"艺术特长", options:{count:8, text:"艺术特长"}})
                +select({value:"请选择特长项目", options:{count:8, text:"舞蹈"}})
            .actions.error
              +button({text:"查看结果", option:"primary"})
              +button({text:"查看结果", disabled:true})
              .help-inline 请选择学校所在区域
    // End: 特长生招生

    // Start: 特长生招生结果
    .guide-tools
      .tool-details
        .hd 特长生招生
        .bd
          // 无推荐结果
          .alert.alert-info.alert-single
            i.ico
            .info
              p 您所在的区暂无该项特长的招生记录，请留意各区最新招生政策！
          // 推荐结果
          p
            | 您的孩子报考的特长项目为
            span.hl 舞蹈
            | ，近几年本区的招生情况是：
          .table.data-table
            table
              thead
                tr
                  th.w120
                    .gap 年份
                  th
                    .gap 招生情况
              tbody
                - for(var i=2010; i<=2014; i++)
                  tr(class="#{i%2==1 ? 'even' : ''}")
                    td= i + "年"
                    td.align-left
                      a(href="#", target="_blank") 真光中学（5人）
                      a(href="#", target="_blank") 华南师范大学附属中学（5人）
          .return
            a(href="#") 返回至升学指导

    // End: 特长生招生结果

    // Start: 民校推荐
    .guide-tools
      .tool-details
        .hd 民校推荐
        .bd
          .form
            .form-row
              label.control-label 您在为孩子挑选民校的时候，最看重的因素是？（最多选2项）
              .controls.checkbox-group
                p
                  label.checkbox
                    input(type="checkbox")
                    | 中考成绩好
                p
                  label.checkbox
                    input(type="checkbox")
                    | 地点在老三区（越秀区、荔湾区、海珠区）
                p
                  label.checkbox
                    input(type="checkbox")
                    | 学费不要太高
                p
                  label.checkbox
                    input(type="checkbox")
                    | 是中英文学校
                p
                  label.checkbox
                    input(type="checkbox")
                    | 提供住宿
            .actions.error
              +button({text:"查看结果", option:"primary"})
              +button({text:"查看结果", disabled:true})
              .help-inline 请选择1-2项
    // End: 民校推荐

    // Start: 民校推荐结果
    .guide-tools
      .tool-details
        .hd 民校推荐
        .bd
          // 无推荐结果
          .alert.alert-info
            i.ico
            .info
              p 艾玛，这要求有点高了，没有适合您的民校。
              p
                a(href="#") 换个条件
                | 试试？
          // 推荐结果
          p
            | 根据您所选的条件为您推荐：
          .result-list
            ul
              li
                a(href="#", target="_blank") 华南师范大学附属中学
              li
                a(href="#", target="_blank") 华南师范大学附属中学
              li
                a(href="#", target="_blank") 华南师范大学附属中学
              li
                a(href="#", target="_blank") 华南师范大学附属中学
          .return
            a(href="#") 返回至升学指导
    // End: 民校推荐结果

