//------------------------------
//- 元件：下拉列表
//------------------------------
mixin dropdown(params)
  - var params = params || {}

  .ui-dropdown(class="#{params.hidden? 'hidden':''}")
    .ui-dropdown-in
      if query
        // 正常状态
        .query.query-blur
          input(type="text", placeholder="请输入您要查找的学校名")
          span.close
        // 聚焦状态
        .query.query-inserting
          input(type="text", value="真光中学")
          span.close
      if params.options
        .query-result.scrollable
          ul
            - for(var j=1; j<=params.options.count; j++)
              li= params.options.text
          .scroll-bar
            .scroll-track
            .scroll-thumb(style="height:40px;")
      else
        // 查找结果为空
        .query-result
          .tips-null 暂未能找到，换所学校试试？
        // 查找结果
        .query-result.scrollable
          ul
            - for(var j=1; j<=5; j++)
              li(class="#{j==2 ? 'active' : ''}")
                | 广州市
                span.hl 天河区
                | 华南师范大学附属中学
          .scroll-bar
            .scroll-track
            .scroll-thumb(style="height:40px;")
    i.arrow
      i.arrow-border
      i.arrow-body

//------------------------------
//- 元件：气泡提示
//------------------------------
mixin hints(params)
  - var params = params || {}

  span.hints
    span.bubble
      != params.text
      i.arrow
        i.arrow-border
        i.arrow-body

//------------------------------
//- 元件：模拟select元素
//------------------------------
mixin select(params)
  - var params = params || {}
  - var select_class = []

  if params.selected
    - select_class = select_class.concat(["ui-select-selected"])

  if params.ex_class
    - select_class = select_class.concat(params.ex_class)

  .ui-select(class=select_class)
    .ui-select-trigger
      span= params.value
      input(value=params.value, type="text")
      select
        - for(var j=1; j<=params.options.count; j++)
          option= params.options.text
      i.triangle
    +dropdown({options:params.options, hidden:true})
