mixin logo(category)
  - var label = category=="junior" ? "初中库" : "高中库"
  a(href="#", title="高分网#{label}")
    img(src="#{current.base}img/library/#{category}/logo.png", alt="高分网#{label}")

mixin header(category)
  - var nav = category=="junior" ? library_nav_links.junior : library_nav_links.senior

  .header
    .container
      if current.source == 'index'
        h1.logo
          +logo(category)
      else
        .logo
          +logo(category)

      // 搜索: 正常状态
      .search-box
        input.search-query(type="text", placeholder="精确查校")
        button.search-btn(type="submit") 搜索
        +dropdown({hidden:true})

      // 搜索: 聚焦状态
      .search-box.search-box-focus.hidden
        input.search-query(type="text", placeholder="精确查校")
        button.search-btn(type="submit") 搜索
        +dropdown({hidden:true})

      include ../../partials/_head-login

    .nav-bar
      .container
        ul.nav
          for link in nav
            li(class="nav-#{link.slug}")
              a(href="/demos/library/#{category}/#{link.slug}.html")= link.label
