mixin data-preview(params)
  - var params = params || {}

  .pd.w0.h0(style="-webkit-transform: scale(#{params.page_scale}); -moz-transform: scale(#{params.page_scale}); -ms-transform: scale(#{params.page_scale}); margin-bottom: #{params.page_gap}px; -webkit-transform-origin: #{params.init?'0px':'50%'} 0px 0px; -moz-transform-origin: #{params.init?'0px':'50%'} 0px 0px; -ms-transform-origin: #{params.init?'0px':'50%'} 0px 0px;")
    #pf1.pf(data-page-no="1")
      .pc.pc1
        img.bi(alt="", src="#{current.base}img/dummies/preview/bg1.png")
        .c.x0.y0.w0.h0
          .t.m0.x1.h1.y1.ff1.fs0.fc0.sc0.ls0.ws0
            span._._0
            span._._1
            span.ff2.fs1.sc1
              | 广州家长论坛
              span.ff3.sc0  bbs.gaofen.com
          .t.m0.x2.h2.y2.ff2.fs2.fc0.sc1.ls0.ws0 历次考试得分率较低题集
          .t.m0.x3.h3.y3.ff2.fs3.fc0.sc0.ls0.ws0 九月月考
          .t.m0.x3.h4.y4.ff2.fs4.fc0.sc0.ls0.ws0 4、
          .t.m0.x4.h3.y5.ff2.fs3.fc0.sc0.ls0.ws0 （
          .t.m0.x5.h5.y6.ff1.fs3.fc0.sc0.ls0.ws0 42%
          .t.m0.x6.h3.y5.ff2.fs3.fc0.sc0.ls0.ws0 ）
          .t.m0.x7.h4.y4.ff2.fs4.fc0.sc0.ls0.ws0 下列用量不正确的是
          .t.m0.x3.h4.y7.ff2.fs4.fc0.sc0.ls0.ws0 A、没有说明用量，液体取2mL—4mL   B、酒精灯的酒精不超过容积的2/3
          .t.m0.x3.h4.y8.ff2.fs4.fc0.sc0.ls0.ws0 C、加热时，液体不超过试管的1/3    D、洗涤试管时，注入半试管水
          .t.m0.x3.h4.y9.ff2.fs4.fc0.sc0.ls0.ws0 10、（21%）下列物质中属于纯净物的是
          .t.m0.x3.h4.ya.ff2.fs4.fc0.sc0.ls0.ws0 A、洁净的食盐水                   B、冰水混合物
          .t.m0.x3.h4.yb.ff2.fs4.fc0.sc0.ls0.ws0 C、净化后的空气                   D、高锰酸钾完全分解后的剩余物
          .t.m0.x3.h3.yc.ff2.fs3.fc0.sc0.ls0.ws0 十月月考
          .t.m0.x3.h5.yd.ff1.fs3.fc0.sc0.ls0.ws0 5
          .t.m0.x8.h3.yd.ff2.fs3.fc0.sc0.ls0.ws0 、（
          .t.m0.x9.h5.yd.ff1.fs3.fc0.sc0.ls0.ws0 32%
          .t.m0.xa.h3.yd.ff2.fs3.fc0.sc0.ls0.ws0 ）不能说明分子间有间隔的是
          .t.m0.x3.h5.ye.ff1.fs3.fc0.sc0.ls0.ws0 A
          .t.m0.xb.h3.ye.ff2.fs3.fc0.sc0.ls0.ws0 、物质的热胀冷缩现象
          .t.m0.xc.h5.ye.ff1.fs3.fc0.sc0.ls0.ws0
            span._._1
            span._._0
            | B
          .t.m0.xd.h3.ye.ff2.fs3.fc0.sc0.ls0.ws0 、食盐溶解在水中
          .t.m0.xe.h5.ye.ff1.fs3.fc0.sc0.ls0.ws0
          .t.m0.x3.h5.yf.ff1.fs3.fc0.sc0.ls0.ws0 C
          .t.m0.xb.h3.yf.ff2.fs3.fc0.sc0.ls0.ws0 、食盐和蔗糖混合均匀
          .t.m0.xc.h5.yf.ff1.fs3.fc0.sc0.ls0.ws0
            span._._1
            span._._0
            | D
          .t.m0.xd.h3.yf.ff2.fs3.fc0.sc0.ls0.ws0 、等质量的氧气和液氧，氧气体积比液氧大
          .t.m0.x3.h5.y10.ff1.fs3.fc0.sc0.ls0.ws0 13
          .t.m0.xf.h3.y10.ff2.fs3.fc0.sc0.ls0.ws0 、（
          .t.m0.x10.h5.y10.ff1.fs3.fc0.sc0.ls0.ws0 66%
          .t.m0.x11.h3.y10.ff2.fs3.fc0.sc0.ls0.ws0 ）决定元素种类的依据是
          .t.m0.x3.h5.y11.ff1.fs3.fc0.sc0.ls0.ws0 A
          .t.m0.xb.h3.y11.ff2.fs3.fc0.sc0.ls0.ws0 、质子数
          .t.m0.x11.h5.y11.ff1.fs3.fc0.sc0.ls0.ws0         B
          .t.m0.x12.h3.y11.ff2.fs3.fc0.sc0.ls0.ws0 、中子数
          .t.m0.x13.h5.y11.ff1.fs3.fc0.sc0.ls0.ws0         C
          .t.m0.x2.h3.y11.ff2.fs3.fc0.sc0.ls0.ws0 、核外电子数
          .t.m0.x14.h5.y11.ff1.fs3.fc0.sc0.ls0.ws0         D
          .t.m0.x15.h3.y11.ff2.fs3.fc0.sc0.ls0.ws0 、原子的相对原子质量
          .t.m0.x3.h5.y12.ff1.fs3.fc0.sc0.ls0.ws0 24
          .t.m0.xf.h3.y12.ff2.fs3.fc0.sc0.ls0.ws0
            | 、
            span._._0
            | （
          .t.m0.x16.h5.y12.ff1.fs3.fc0.sc0.ls0.ws0 49%
          .t.m0.x17.h3.y12.ff2.fs3.fc0.sc0.ls0.ws0
            | ）
            span._._0
            | 下
            span._._2
            | 列
            span._._0
            | 物
            span._._2
            | 质
            span._._0
            | 属
            span._._2
            | 于
            span._._0
            | 纯
            span._._2
            | 净
            span._._0
            | 物
            span._._2
            | 的
            span._._0
            | 是
          .t.m0.x18.h5.y12.ff1.fs3.fc0.sc0.ls0.ws0
            span._._1
          .t.m0.x19.h3.y12.ff2.fs3.fc0.sc0.ls0.ws0
            | ，
            span._._0
            | 属
            span._._2
            | 于
            span._._0
            | 单
            span._._2
            | 质
            span._._0
            | 的
            span._._2
            | 是
          .t.m0.x1a.h5.y12.ff1.fs3.fc0.sc0.ls0.ws0
            span._._1
          .t.m0.x1b.h3.y12.ff2.fs3.fc0.sc0.ls0.ws0
            | ，
            span._._0
            | 属
            span._._2
            | 于
            span._._0
            | 化
            span._._2
            | 合
            span._._0
            | 物
            span._._2
            | 的
            span._._0
            | 是
          .t.m0.x3.h3.y13.ff2.fs3.fc0.sc0.ls0.ws0 ，属于混合物的是
          .t.m0.x1c.h5.y14.ff1.fs3.fc0.sc0.ls0.ws0
            span._._1
          .t.m0.x1d.h3.y13.ff2.fs3.fc0.sc0.ls0.ws0 。
          .t.m0.x1e.h3.y15.ff2.fs3.fc0.sc0.ls0.ws0
            | ①洁净的空气    ②二氧化碳
            span._._0
            | ③高锰酸钾    ④铜
            span._._0
            | ⑤自来水
            span._._0
          .t.m0.x1e.h3.y16.ff2.fs3.fc0.sc0.ls0.ws0
            | ⑥硫燃烧后的生成物     ⑦液氧
            span._._0
            | ⑧电解水后的生成物
          .t.m0.x3.h3.y17.ff2.fs3.fc0.sc0.ls0.ws0
            | 27、
            span._._3
            | （53%）某原子的质子数为
            span._._4
            | 26%，中子数比质子数多
            span._._4
            | 4，则该原子中粒子总数为
            span._._0
            span._._0
            span._._1
            | 。
          .t.m0.x3.h3.y18.ff2.fs3.fc0.sc0.ls0.ws0
            | 28、
            span._._5
            | （57%）已知铁、
            span._._5
            | 铜、
            span._._5
            | 锌的相对原子质量为
            span._._4
            | 56、
            span._._5
            | 6
            span._._1
            | 4、
            span._._5
            | 65，现有相同质量的
            span._._4
            | 1g
            span._._4
            | 铁、
            span._._5
            | 铜、
            span._._5
            | 锌，其中含有原子
          .t.m0.x3.h3.y19.ff2.fs3.fc0.sc0.ls0.ws0 数从多到少的顺序是
          .t.m0.x1f.h5.y1a.ff1.fs3.fc0.sc0.ls0.ws0
            span._._1
          .t.m0.x20.h3.y19.ff2.fs3.fc0.sc0.ls0.ws0 。
          .t.m0.x3.h3.y1b.ff2.fs3.fc0.sc0.ls0.ws0 十一月月考
          .t.m0.x3.h5.y1c.ff1.fs3.fc0.sc0.ls0.ws0 5
          .t.m0.x8.h3.y1c.ff2.fs3.fc0.sc0.ls0.ws0 、（
          .t.m0.x9.h5.y1c.ff1.fs3.fc0.sc0.ls0.ws0 42%
          .t.m0.xa.h3.y1c.ff2.fs3.fc0.sc0.ls0.ws0 ）日常生活中，与肥皂水作用容易起泡沫的是
          .t.m0.x3.h5.y1d.ff1.fs3.fc0.sc0.ls0.ws0 A
          .t.m0.xb.h3.y1d.ff2.fs3.fc0.sc0.ls0.ws0 、珠江水
          .t.m0.x11.h5.y1d.ff1.fs3.fc0.sc0.ls0.ws0        B
          .t.m0.x21.h3.y1d.ff2.fs3.fc0.sc0.ls0.ws0 、矿泉水
          .t.m0.x22.h5.y1d.ff1.fs3.fc0.sc0.ls0.ws0        C
          .t.m0.x1d.h3.y1d.ff2.fs3.fc0.sc0.ls0.ws0 、煮沸的水
          .t.m0.x23.h5.y1d.ff1.fs3.fc0.sc0.ls0.ws0        D
          .t.m0.x24.h3.y1d.ff2.fs3.fc0.sc0.ls0.ws0 、含较多可溶性钙、镁化合物的水
          .t.m0.x3.h5.y1e.ff1.fs3.fc0.sc0.ls0.ws0 10
          .t.m0.xf.h3.y1e.ff2.fs3.fc0.sc0.ls0.ws0 、（
          .t.m0.x10.h5.y1e.ff1.fs3.fc0.sc0.ls0.ws0 55%
          .t.m0.x11.h3.y1e.ff2.fs3.fc0.sc0.ls0.ws0 ）
          .t.m0.x25.h5.y1e.ff1.fs3.fc0.sc0.ls0.ws0 27
          .t.m0.x21.h3.y1e.ff2.fs3.fc0.sc0.ls0.ws0 克铝箔在充足的氧气中完全燃烧，燃烧后的生成物的总质量是
          .t.m0.x3.h5.y1f.ff1.fs3.fc0.sc0.ls0.ws0 A
          .t.m0.xb.h3.y1f.ff2.fs3.fc0.sc0.ls0.ws0 、约等于
          .t.m0.x17.h5.y1f.ff1.fs3.fc0.sc0.ls0.ws0 27
          .t.m0.x26.h3.y1f.ff2.fs3.fc0.sc0.ls0.ws0 克
          .t.m0.x21.h5.y1f.ff1.fs3.fc0.sc0.ls0.ws0       B
          .t.m0.x27.h3.y1f.ff2.fs3.fc0.sc0.ls0.ws0 、一定小于
          .t.m0.x20.h5.y1f.ff1.fs3.fc0.sc0.ls0.ws0 27
          .t.m0.x28.h3.y1f.ff2.fs3.fc0.sc0.ls0.ws0 克
          .t.m0.x29.h5.y1f.ff1.fs3.fc0.sc0.ls0.ws0        C
          .t.m0.x1.h3.y1f.ff2.fs3.fc0.sc0.ls0.ws0 、一定大于
          .t.m0.x2a.h5.y1f.ff1.fs3.fc0.sc0.ls0.ws0 27
          .t.m0.x2b.h3.y1f.ff2.fs3.fc0.sc0.ls0.ws0 克
          .t.m0.x2c.h5.y1f.ff1.fs3.fc0.sc0.ls0.ws0       D
          .t.m0.x2d.h3.y1f.ff2.fs3.fc0.sc0.ls0.ws0 、一定等于
          .t.m0.x2e.h5.y1f.ff1.fs3.fc0.sc0.ls0.ws0 27
          .t.m0.x2f.h3.y1f.ff2.fs3.fc0.sc0.ls0.ws0 克
          .t.m0.x3.h3.y20.ff2.fs3.fc0.sc0.ls0.ws0 22、（61%）分子、原子、离子、质子、中子、电子都是我们学习过的粒子，试回答：（4分）
          .t.m0.x3.h3.y21.ff2.fs3.fc0.sc0.ls0.ws0
            | （1）水是由
            span._._0
            | 聚集而成的；（
            span._._1
            | 2）氧分子是由
            span._._0
            span._._0
            span._._1
            | 结合而成的；
          .t.m0.x3.h3.y22.ff2.fs3.fc0.sc0.ls0.ws0
            | （3）铁是由
            span._._0
            | 结合而成的；（氢原子的原子核是由
            span._._1
            span._._0
            | 构成的。
          .t.m0.x3.h3.y23.ff2.fs3.fc0.sc0.ls0.ws0 期末考试
          .t.m0.x3.h3.y24.ff2.fs3.fc0.sc0.ls0.ws0 7、（56%）下列各组物质按混合物、纯净物、单质、化合物分类正确的是
          .t.m0.x3.h3.y25.ff2.fs3.fc0.sc0.ls0.ws0
            | A、空气、糖水、一氧化碳、铁粉
            span._._0
            span._._1
            | B、空气、水、金刚石、氯酸钾
          .t.m0.x3.h3.y26.ff2.fs3.fc0.sc0.ls0.ws0 C、空气、氮气、氢气、澄清石灰水     D、空气、矿泉水、红磷、高锰酸钾
          .t.m0.x3.h3.y27.ff2.fs3.fc0.sc0.ls0.ws0 26、（49%）如图所示，气密性良好的制取二氧化碳的装置，往长颈漏斗中加入
          .t.m0.x3.h3.y28.ff2.fs3.fc0.sc0.ls0.ws0
            | 稀盐酸，长颈漏斗下端的
            span.ff4 出口必须
            span._._0
            span._._0
            span._._0
            span._._0
            span._._3
            | ，
          .t.m0.x3.h3.y29.ff2.fs3.fc0.sc0.ls0.ws0
            | 原
            span.ff4 因
            | 是
            span._._0
            span._._0
            span._._0
            span._._0
            span._._0
            span._._0
            span._._0
            span._._0
            span._._6
            | 。
          .t.m0.x3.h3.y2a.ff4.fs3.fc0.sc0.ls0.ws0
            | 第
            span.ff2 九单元
            | 测
            span.ff2 试（溶液）
          .t.m0.x3.h3.y2b.ff2.fs3.fc0.sc0.ls0.ws0
            | 1、（40%）下列物质不可能与水
            span.ff4 形
            | 成
            span.ff4 饱
            | 和溶液的是
          .t.m0.x3.h3.y2c.ff2.fs3.fc0.sc0.ls0.ws0
            | A、酒精
            span._._0
            span._._1
            | B、
            span.ff4 熟
            | 石灰
            span._._0
            span._._1
            | C、二氧化碳
            span._._0
            | D
            span._._1
            | 、
            span.ff4 硝
            | 酸钾
          .t.m0.x30.h4.y2d.ff2.fs4.fc0.sc1.ls0.ws0
            | 广州家长论坛
            span.ff3.sc0 -
            span.ff4 资料
            | 分
            span.ff4
              | 享社区
              span.ff3.sc0  http://bbs.gaofen.com
      .pi(data-data="{'ctm':[1.257143,0.000000,0.000000,1.257143,0.000000,0.000000]}")
