include _baidu-share

.container.page-content
  .row.row14-6
    .span14
      .post-details
        h1= article.title
        // meta
        .meta
          a(href="#") [当前123141位家长在线讨论]
          span.time 2013-01-11 11:06:41
          span.source 来源：高分网
          span.author 责任编辑：Andy

        +ad({width:580, height:40, ex_class:["mt15"]})

        .post-tags
          span
            a(href="#", target="_blank") 小升初要闻
          span
            a(href="#", target="_blank") 小升初政策
          span.highlight
            a(href="#", target="_blank") 小升初面试
          span
            a(href="#", target="_blank") 小升初竞赛
          span
            a(href="#", target="_blank") 学科备考
          span
            a(href="#", target="_blank") 小升初择校
          span
            a(href="#", target="_blank") 分数线
          span
            a(href="#", target="_blank") 招生简章
          span
            a(href="#", target="_blank") 小升初家长论坛

        ///-
          // Start: 最新资讯
          .post-latest
            .hd 最新资讯
            .bd
              +post-list({count:4})
          // End: 最新资讯

        .post-content
          p 《广州市国家级示范性普通高中招收指标生实施办法》（以下简称《办法》）最为引人关注的即是，首次规定初中择校生不得占用示范性高中指标生名额。其中规定了八种情形的本市户籍初中生毕业生，将不得参与指标生名额分配。
          p
            em
              | 《办法》规定，2013年开始，将市一中、斗门一中、市二中、市实验中学、北师大（珠海）附中五所国家级示范性高中，其不低于70%（含70%）的
              a(href="#", target="_blank") 招生计划
              | 均衡分配到全市各初级中学。
          h2 学科备考
          h3 珠海市普通小学生转学暂行办法

          table(align="center", border="1", cellpadding="1", cellspacing="1", width="550")
            tbody
              tr
                td(colspan="4")
                  p(align="center")
                    strong 公办学校
              tr
                td(width="38")
                  p(align="center")
                    | 学校
                td(width="249")
                  p(align="center") 广州市第四中学
                td(width="124")
                  p(align="center") 特长生类型
                td(width="124")
                  p(align="center") 艺术
              tr
                td(colspan="4")
                  p(align="left") 相关链接：
                  p(align="left")
                    a(href="http://xsc.gaofen.com/article/447399.htm", target="_new") 2015年四中小升初艺术类（音乐）特长生摸查工作方案
              tr
                td(height="29")
                  p(align="center")
                    | 学校
                td
                  p(align="center") 广州市铁一中学
                td
                  p(align="center") 特长生类型
                td
                  p(align="center") 体育、艺术
              tr
                td(colspan="4")
                  p(align="left") 相关链接：
                  p(align="left")
                    a(href="http://xsc.gaofen.com/article/447532.htm", target="_new") 铁一中学校本部及番禺校区2015年招收初中体艺特长生
              tr
                td
                  p(align="center") 学校
                td
                  p(align="center") 广州市执信中学
                td
                  p(align="center") 特长生类型
                td
                  p(align="center") 体育、艺术
              tr
                td(colspan="4")
                  p(align="left") 相关链接：
                  p(align="left")
                    a(href="http://xsc.gaofen.com/article/447555.htm", target="_new") 广州市执信中学2015年招收初中体育、艺术特长生公告
              tr
                td
                  p(align="center") 学校
                td
                  p(align="center") 广东实验中学
                td
                  p(align="center") 特长生类型
                td
                  p(align="center") 体育、艺术
              tr
                td(colspan="4")
                  p(align="center")
                  p(align="left") 相关链接：
                  p(align="left")
                    a(href="http://xsc.gaofen.com/article/447558.htm", target="_new") 2015年省实初中体艺特长生招生说明会
                  p
              tr
                td
                  p(align="center") 学校
                td
                  p(align="center") 广州市第七中学
                td
                  p(align="center") 特长生类型
                td
                  p(align="center") 艺术、科技
              tr
                td(colspan="4")
                  p 相关链接：
                  p
                    a(href="http://xsc.gaofen.com/article/447374.htm") 2015年广州市第七中学"七中杯"音乐及科技交流活动启事
              tr
                td(colspan="4")
                  p(align="center")
                    strong 高分网整理，转载请带链接www.gaofen.com
          p 《办法》规定，学生有四种情形之一的，将可参与指标生分配：符合我市关于本市户籍学生的招生规定，服从教育部门统筹安排，初一至初三在同一公办学校就读的本市户籍学生；台胞子女、华侨子女、持标印有“人才引进”字样《广东省居住证》人员子女及符合我市关于政策性照顾生的有关规定，从教育部门统筹安排，初一至初三在同一公办学校就读的本市户籍学生；符合我市关于民办学校招生的有关规定，在民办学校就读的本市户籍学生；符合《珠海市普通小学生转学暂行办法》的有关规定，在初三年级第一学期前转入中考报名所在学校就读的本市户籍学生。
          h3 家长为择校上演“孟母三迁”
          p 罗女士在经历又一次搬家之后，这半年总算稳定了下来。儿子没有参与择校的竞争，安心地在吉大一所初中读书。这些年以来，为了儿子小萌能上一个大家眼中的好学校，罗女士在新香洲、老香洲和吉大辗转数次，买房、卖房、搬家，隔几年就要重新来一遍，“朋友们说我是现代版的孟母。”罗女士无奈地笑着。不过，随着房价的不断高企，身在企业的罗女士夫妇发现换房的成本越来越高，“换不起了，尤其是学区房。”
          a.img-link(href="#")
            +dummy
          p
            | 问题很快来了，还很紧迫。2012年小萌就要
            a(href="#", target="_blank") 小升初
            | ，如果是按照原来就读的小学直升，学区是新香洲一所较新的学校，小萌的成绩中等偏上，很爱学习，如果就读这所学校，罗女士觉得比较可惜，“三年后想读市一中，比较困难。”罗女士在吉大还有一套小点的房子，“之前的想法是把吉大的房子卖了，换到文园中学附近，”罗女士从2011年就开始四处看房，文园中学附近十几年房龄的房子每平方米都要八九千，还特别稀少。
          table.post-table
            thead
              tr
                th 归属
                th 校址所在区域
                th 招生区域
                th 学校
            tbody
              tr
                td 市属
                td 越秀区
                td 越秀区
                td
                  a(href="#", target="_blank") 广州市越秀外语学校
              tr
                td 市属
                td 越秀区
                td 越秀区
                td
                  a(href="#", target="_blank") 广州市越秀外语学校

        .tags
          | 本文标签：
          a(href="#", target="_blank") 学校
          a(href="#", target="_blank") 活动报名

        +pagination()

        .post-view-more
          | 点此了解更多：
          a(href="#", target="_blank") 西关培正小学

        .split-line-solid.mb20

        .post-related
          // Start: 扩展阅读
          .post-related-posts
            +heading({title:'扩展阅读：<span class="tags"><a href="#" target="_blank">学校指标</a><a href="#" target="_blank">番禺</a><a href="#" target="_blank">越秀</a></span>'})
            +post-list({classes:"post-list-large", count:6})
          // End: 扩展阅读

          // Start: 相关学校
          .post-related-schools
            +heading({title:'相关学校'})
            include _tag-clouds
          // End: 相关学校

        // Start: 相关资料
        .post-related-data
          +heading({title:'相关资料'})
          +post-list({classes:"post-list-large", count:6})
        // End: 相关资料

      // Start: 小升初微信
      .post-weixin
        .hd 微信头条
        .bd
          .post
            .tit
              a(href="#", target="_blank")= article.title
            p= article.summary
          .qrcode
            .pic
              img(src="../../../img/qrcode/weixin_xsc.jpg",  alt="高分网广州小升初微信群")
            .info
              p.tit 【小升初助手】
              p 扫二维码
              p 获得详情
      // End: 小升初微信

      // Start: 小升初QQ群
      .post-qq
        .qq-groups
          .hd 2015广州小升初家长QQ群
          .bd
            .col.col-left
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=fT3D0A", target="_blank") 点击加群
                != "2015广州市小升初群：151496916 "
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=ZakVnO", target="_blank") 点击加群
                != "2015海珠区小升初群：323577295 "
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=cqVUA9", target="_blank") 点击加群
                != "2015越秀区小升初群：147059436 "
            .col.col-right
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=eUmWt9", target="_blank") 点击加群
                != "2015天河区小升初群：165637070 "
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=TALkBZ", target="_blank") 点击加群
                != "2015白云区小升初群：171756874 "
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=b9dH9w", target="_blank") 点击加群
                != "2015荔湾区小升初群：102217972 "
      // End: 小升初QQ群

      // Start: 中考微信
      .post-weixin
        .hd 微信头条
        .bd
          .post
            .tit
              a(href="#", target="_blank")= article.title
            p= article.summary
          .qrcode
            .pic
              img(src="../../../img/qrcode/weixin_zk.jpg",  alt="高分网广州中考微信群")
            .info
              p.tit 【中考助手】
              p 扫二维码
              p 获得详情
      // End: 中考微信

      // Start: 中考QQ群
      .post-qq
        .qq-groups
          .hd 2015广州中考家长QQ群
          .bd
            .col.col-left
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=bmfpP1", target="_blank") 点击加群
                != "2015广州中考1群：145819391 "
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=bXoLIi", target="_blank") 点击加群
                != "2015广州中考2群：171893183 "
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=SRhyhK", target="_blank") 点击加群
                != "2015广州中考3群：163788668 "
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=Scacdn", target="_blank") 点击加群
                != "2015广州初二1群：95749380 "
            .col.col-right
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=XKDyC1", target="_blank") 点击加群
                != "2015广州初二2群：241266241 "
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=fuGA03", target="_blank") 点击加群
                != "2015广州初一1群：322381648 "
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=b0SZjr", target="_blank") 点击加群
                != "2015广州初一2群：299890891 "
      // End: 中考QQ群

      // Start: 高考微信
      .post-weixin
        .hd 微信头条
        .bd
          .post
            .tit
              a(href="#", target="_blank")= article.title
            p= article.summary
          .qrcode
            .pic
              img(src="../../../img/qrcode/weixin_gk.jpg",  alt="高分网高考微信群")
            .info
              p.tit 【高考助手】
              p 扫二维码
              p 获得详情
      // End: 高考微信

      // Start: 高考QQ群
      .post-qq
        .qq-groups
          .hd 2015高考QQ群
          .bd
            .col.col-left
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=bXVtKe", target="_blank") 点击加群
                != "广东高考家长群：195276744 "
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=XB48qF", target="_blank") 点击加群
                != "广州高考家长1群：124702897 "
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=e0zEHr", target="_blank") 点击加群
                != "广州高考家长2群：149978425 "
            .col.col-right
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=XVZv42", target="_blank") 点击加群
                != "广州高二家长群：242373985 "
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=avw1bH", target="_blank") 点击加群
                != "广州高一家长群：322037593 "
              span
                a.hl-link(href="http://jq.qq.com/?_wv=1027&k=a3LYpb", target="_blank") 点击加群
                != "全国高考家长群1：236323902 "
      // End: 高考QQ群

      +ad({width:670, ex_class:["mt25"]})

    .span6
      // Start: 挂件-热报课程
      +widget-courses({title:"热报课程"})
      // End: 挂件-热报课程

      // Start: 挂件-小升初头条
      +widget-headlines({title:"小升初头条"})
      // End: 挂件-小升初头条

      +ad({width:280, height:250, ex_class:"mb25", count:3})

      // Start: 挂件-小升初活动
      +widget-event({title:"小升初活动"})
      // End: 挂件-小升初活动

      +ad({width:280, ex_class:"mb25"})

      // Start: 挂件-小升初资料
      +widget-data({title:"小升初资料"})
      // End: 挂件-小升初资料

      +ad({width:280, ex_class:"mb25"})

      // Start: 挂件-论坛精华
      +widget-post({title:"论坛精华", ex_class:["widget-healine"], post_subject:true, post_class:"post-list-large", more:"更多", headline:true})
      // End: 挂件-论坛精华

      +ad({width:280, ex_class:"mb25"})

      // Start: 挂件-热点标签
      +widget-tag-clouds({title:"热点标签"})
      // End: 挂件-热点标签




