#footer
  .in
    .container
      .cont
        .foot-links
          each link, index in channel_links
            a(href="#", target="_blank")= link.label
            unless index == foot_links.length - 1
              i |
        .foot-links
          each link, index in foot_links
            unless link.path
              a(href="#{current.base}/demos/default/page/#{link.slug}.html", title="#{link.label}", target="_blank")= link.label
            else
              a(href="#{link.path}#{link.slug}.html", title="#{link.label}", target="_blank")= link.label
            unless index == foot_links.length - 1
              i |
        .copyright
          != "&copy; 2010-2013 " + site_name
          a(href="http://www.miibeian.gov.cn/", title="粤ICP备13042184号-1") 粤ICP备13042184号-1
        .alarm
          a(href="http://210.76.65.188/newwebsite/index.htm", title="广州网络警察报警平台", target="_blank")
            img(src="#{current.base}img/police.png", alt="广州网络警察报警平台")
          a(href="http://210.76.65.188/netalarm/index.jsp", title="不良信息举报中心", target="_blank")
            img(src="#{current.base}img/report.png", alt="不良信息举报中心")
