mixin modal(params)
  - var params = params || {}

  // Start:遮罩层
  .modal-backdrop.hidden
    <!--[if lte IE 6]><iframe frameborder="0"></iframe><![endif]-->
  // End:遮罩层

  // Start:全局登录浮层
  #modalLogin.modal.modal-login.hidden
    .modal-header
      h3 登录
    .modal-body
      // Start:登录表单
      .form
        h2 登录高分网
        .form-row.error
          label.control-label 账号
          .controls
            input.input-text(type="text", placeholder="用户名/邮箱")
        .form-row.success
          label.control-label 密码
          .controls
            input.input-text(type="password")
            .operations
              label.checkbox
                input(type="checkbox")
                | 下次自动登录
              a(href="#") 忘记密码?
          span.help-inline 成功
        .actions.error
          +button({element:"button", option:"primary", text:"登录"})
          span.help-inline 用户名或密码错误
        //- Start:气泡提示
        //-.bubble.bubble-error
          | 用户名或密码或密码错误
          span.arrow
            i.arrow-border
            i.arrow-body
          +close
        //- End:气泡提示
      // End:登录表单
      // Start:使用合作网站账号登录
      .other-login
        .hd
          h2 使用合作网站账号登录
        .bd
          .quick-login.clearfix
            a.btn-weibo-large(href="#", title="用微博账号登录") 用微博账号登录
            a.btn-qq-large(href="#", title="用QQ账号登录") 用QQ账号登录
          .actions
            a(href="#", target="_blank") 注册新账号
      // End:使用合作网站账号登录
    +close
  // End:全局登录浮层

  // Start:激活邮箱
  #modalActivate.modal.modal-activate.hidden
    .modal-header
      h3 激活邮箱
    .modal-body
      h2 请激活邮箱
      p 为了正常使用网站内的功能，请验证您的邮箱并激活账号。
      p
        | 您的注册邮箱：
        span.hl-red samabc@163.com
      .actions
        +button({text:"登录邮箱", option:"primary"})
      .hints
        | 还没收到邮件？
        a(href="#") 点此重发一遍
        span.icon-success 已发送
        span.icon-error 发送失败
        span.loading-mini 发送中
    +close
  // End:激活邮箱

  // Start:完善个人信息浮层
  #modalUserInfo.modal.modal-user-info.hidden
    .modal-header
      h3 完善个人信息
    .modal-body
      // Start:报名表单
      .form
        .form-row
          label.control-label 昵称
          .controls
            input.input-text(type="text")
        .form-row.error
          label.control-label 邮箱
          .controls
            input.input-text(type="text")
          span.help-inline 请填写联系人
        .form-row.success
          label.control-label 密码
          .controls
            input.input-text(type="text")
          span.help-inline 成功
        .actions
          +button({text:"完成", option:"primary"})
      // End:报名表单
    +close
  // End:完善个人信息浮层

  // Start:全局信息提示浮层
  .modal.modal-tips.hidden
    .modal-header
      h3 提示
    .modal-body
      .alert.alert-info
        i.ico
        .info
          p 上传的文件太大，请控制在20M以内，文件名在400字以内。
      .actions
        +button({option:"primary"})
    +close
  // End:全局信息提示浮层

  if params.modals
    each modal in params.modals
      case modal.type
        when "lecture-apply"
          // Start:报名活动浮层
          #modalApply.modal.modal-apply(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 报名
            .modal-body
              // Start:报名表单
              .form
                .form-row.count
                  label.control-label 参加人数：
                  .controls
                    .num
                      span 成人
                      input.input-text(type="text", value="1", readOnly)
                      span.plus +
                      span.minus -
                    .num
                      span 小孩
                      input.input-text(type="text", value="1", readOnly)
                      span.plus +
                      span.minus -
                .form-row
                  label.control-label 场次：
                  .controls
                    select(name="").width-auto
                      option 请选择场次
                .form-row
                  label.control-label 小孩年龄：
                  .controls
                    input.input-text(type="text")
                .form-row
                  label.control-label 小孩姓名：
                  .controls
                    input.input-text(type="text")
                .form-row.error
                  label.control-label 联系人：
                  .controls
                    input.input-text(type="text")
                  span.help-inline 请填写联系人
                .form-row.success
                  label.control-label 手机号：
                  .controls
                    input.input-text(type="text")
                  span.help-inline 成功
                .form-row
                  label.control-label 费用：
                  .controls
                    strong.text
                      span 1成人2小孩
                      span
                        | 共计
                        i.hl 128
                        | 元
                .form-row
                  label.control-label 留言：
                  .controls
                    textarea.input-text
                .actions.error
                  +button({option:"primary", text:"提交"})
                  .loading-mini
                  .help-inline 服务器出错
              // End:报名表单
            +close
          // End:报名活动浮层

          // Start:报名活动支付浮层
          #modalApply.modal.modal-apply(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 报名
            .modal-body
              // Start:报名表单
              .form
                .form-row.name
                  label.control-label 课程名称：
                  .controls
                    .text
                      strong 看图识字趣味班运用班
                .form-row
                  label.control-label 活动时间：
                  .controls
                    .text 2014-10-26 10:10
                .form-row
                  label.control-label 活动地点：
                  .controls
                    .text 广州市海珠区
                .form-row
                  label.control-label 报名人数：
                  .controls
                    .text 1成人2小孩
                .form-row
                  label.control-label 联系人：
                  .controls
                    .text 荔湾广雅陈大妈
                .form-row
                  label.control-label 电话号：
                  .controls
                    .text 13800138000
                .form-row
                  label.control-label 费用：
                  .controls
                    .text
                      strong
                        i.hl 128
                        | 元
                .form-row.pay
                  label.control-label 支付方式：
                  .controls
                    .pay-types
                      .item.zhifubao.active 支付宝
                    .hints
                      span 没开通支付宝也可以支付哦！
                      a(href="http://help.alipay.com/lab/help_detail.htm?help_id=260867", target="_blank")
                        | 查看教程
                        i &gt;&gt;
                .actions
                  +button({option:"primary", text:"确认并支付"})
                  .hints
                    | 确认后请在24小时内完成支付，
                    br
                    | 否则您的报名将会自动取消
                  .operations
                    a.edit(href="#") 修改报名信息
              // End:报名表单
              // Start:报名成功
              .alert.alert-success.hidden
                i.ico
                .info
                  h3 报名成功!
                  p
                    | 稍后会有工作人员通过短信或电话与您联系，敬请留意！
                  .actions
                    +button({text:"关闭", option:"primary"})
              // End:报名成功
            +close
          // End:报名活动支付浮层

          // Start:侧栏浮动报名
          .apply-aside
            .hd 报名
            .bd
              +button({text:"立即报名", option:"primary"})
              +button({text:"名额已满", disabled:true})
              +button({text:"报名已截止", disabled:true})
              p
                | 剩余名额：
                strong 16
                | 个
          // End:侧栏浮动报名


        when "setting-grade"
          // Start:设置年级浮层
          .modal.modal-setting-grade
            .modal-header
              h3 请设置您的年级
            .modal-body
              .form
                .form-row
                  .control-label 身份：
                  .controls
                    label.radio(for="")
                      input(type="radio")
                      | 学生
                    label.radio(for="")
                      input(type="radio")
                      | 家长
                    label.radio(for="")
                      input(type="radio")
                      | 老师
                .form-row
                  .control-label 年级：
                  .controls
                    label.radio(for="")
                      input(type="radio")
                      | 一年级
                    label.radio(for="")
                      input(type="radio")
                      | 二年级
                    label.radio(for="")
                      input(type="radio")
                      | 三年级
                    label.radio(for="")
                      input(type="radio")
                      | 四年级
                    label.radio(for="")
                      input(type="radio")
                      | 五年级
                    label.radio(for="")
                      input(type="radio")
                      | 六年级
                    label.radio(for="")
                      input(type="radio")
                      | 初一
                    label.radio(for="")
                      input(type="radio")
                      | 初二
                    label.radio(for="")
                      input(type="radio")
                      | 初三
                    label.radio(for="")
                      input(type="radio")
                      | 高一
                    label.radio(for="")
                      input(type="radio")
                      | 高二
                    label.radio(for="")
                      input(type="radio")
                      | 高三
                .actions.error
                  +button({option:"primary"})
                  .loading-mini
                  .help-inline 请选择身份
            +close
          // End:设置年级浮层

        when "data"
          // Start:下载资料浮层
          #modalDownload.modal.modal-download(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 下载资料
            .modal-body
              // Start:默认下载信息
              .modal-info
                .cont
                  p
                    strong= "《" + article.title + "》"
                  p
                    | 账户现有
                    strong.hl 1000
                    | 高分币，将消费
                    strong.hl 500
                    | 高分币
                .actions
                  +button({option:"primary", element:"input", text:"确定消费", type:"submit"})
                  .share
                    label.checkbox
                      input(type="checkbox", checked="checked")
                    | 自动分享至QQ空间/新浪微博
              // End:默认下载信息
            +close
          // End:下载资料浮层

          // Start:余额不足浮层
          #modalDownload.modal.modal-tips.lack-balance(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 下载资料
            .modal-body
              // Start:提示充值
              .modal-info
                .alert.alert-error
                  i.ico
                  .info
                    h3 余额不足
                    p
                      | 需消费
                      strong.hl 100
                      | 高分币，账户现有
                      strong.hl 500
                      | 高分币
                .actions
                  +button({option:"primary", text:"立即充值"})
                  a.earn(href="#", title="赚取高分币") 赚取高分币
              // End:提示充值
            +close
          // End:余额不足浮层

          // Start:通过支付宝付款下载文档浮层
          #modalDownload.modal.modal-download(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 购买文档
            .modal-body
              .modal-info
                .cont
                  p= "《" + article.title + "》"
                  if current.source == "topic-details"
                    p 内含：6份文档，原价7元，现在购买立即省2元
                    p
                      | 现价：
                      strong.hl 20.0元
                  else
                    p
                      | 请支付：
                      strong.hl 2元
                .actions
                  +button({option:"primary", text:"支付宝支付", type:"submit", element:"input"})
                  +button({text:"取消"})
                  .share
                    label.checkbox
                      input(type="checkbox", checked="checked")
                      | 自动分享至QQ空间/新浪微博
            +close
          // End:通过支付宝付款下载文档浮层

          // Start:等待支付
          #modalDownload.modal.modal-download.pay-waiting(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 等待支付
            .modal-body
              .modal-info
                .cont
                  p 请在新打开的支付页面中完成支付
                .actions
                  +button({option:"primary", text:"完成支付", type:"submit", element:"input"})
            +close
          // End:等待支付

          // Start:支付成功
          #modalDownload.modal.modal-download.pay-success(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 支付成功
            .modal-body
              .modal-info
                // Start:支付成功
                .alert.alert-success
                  i.ico
                  .info
                    h3 恭喜您！支付成功
                    p.hints 您可以在个人中心 - 订单管理中查看您的购买记录
                // End:支付成功
                .actions
                  +button({option:"primary", element:"input", text:"立即下载", type:"submit"})
                  p
                    label.checkbox
                      input(type="checkbox", checked="checked")
                      | 分享到微博
            +close
          // End:支付成功

          // Start:订购成功浮层
          #modalTips.modal.modal-tips(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 提示
            .modal-body
              // Start:报名成功
              .alert.alert-success
                i.ico
                .info
                  p 您的订单已提交，试题将在两个工作日内发出，货到付款即可，谢谢您的购买
                  p.hints 如有疑问，请致电：020-38350411（周一到周五9:30-18:30）
              // End:报名成功
            +close
          // End:订购成功浮层

          // Start:填写领取信息
          #modalFetch.modal.modal-fetch.fetch-success(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 领取资料
            .modal-body
              .modal-info
                // Start:表单信息
                .form
                  .form-row
                    label.control-label 校区
                    .controls
                      select(name="")
                        option 请选择领取校区
                      p.hints 地址：广州市越秀区中山三路33号中华国际中心B座2407室
                  .form-row.error
                    label.control-label 姓名
                    .controls
                      input.input-text(type="text")
                    span.help-inline 请填写姓名
                  .form-row.success
                    label.control-label 手机
                    .controls
                      input.input-text(type="text")
                    span.help-inline 成功
                  .form-row.actions.error
                    .controls
                      +button({text:"提交", option:"primary"})
                    span.help-inline 网络不给力，请稍后再试。
                // End:表单信息
            +close
          // End:填写领取信息

          // Start:领取资料成功
          #modalFetch.modal.modal-fetch.fetch-success(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 领取资料
            .modal-body
              .modal-info
                // Start:成功提交信息
                .alert.alert-success
                  i.ico
                  .info
                    h3 成功提交信息！
                    p 资料领取的详细信息将会以短信的形式通知您，如有疑问请及时与我们联系。
                    p 客服电话：020-38350411（周一至五 9:00-18:00）
                // End:成功提交信息
            +close
          // End:领取资料成功

          // Start:移动端购买时提示浮层
          #modalTips.modal.modal-tips.modal-tips-mobile(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 提示
            .modal-body
              // Start:提示信息
              .alert.alert-info
                i.ico
                .info
                  p 购买后您可以阅读本资料的完整内容，但由于您正在使用移动设备访问本页面，所以可能无法正常下载资料，如需下载请到电脑上完成操作。
              // End:提示信息
              .actions
                +button({option:"primary", text:"继续购买"})
                +button({text:"取消"})
            +close
          // End:移动端购买时提示浮层

          // Start:移动端免费或已购买提示浮层
          #modalTips.modal.modal-tips.modal-tips-mobile(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 提示
            .modal-body
              // Start:提示信息
              .alert.alert-info
                i.ico
                .info
                  p 您正在使用移动设备访问本页面，由于部分终端在下载时可能会出现异常，如不能正常下载请到电脑上完成操作。
              // End:提示信息
              .actions
                +button({option:"primary", text:"继续购买"})
                +button({text:"取消"})
            +close
          // End:移动端免费或已购买提示浮层

        when "captcha"
          // Start:请输入验证码
          .modal.modal-captcha
            .modal-header
              h3 请输入验证码
            .modal-body
              .form.hidden
                .form-row.code.success
                  .controls
                    input.input-text.input-small(type="text")
                    img(src="../../../assets/img/dummy_120x40.png")
                    a(href="#") 换一张
                  span.help-inline 成功
                .actions.error.hidden
                  +button({option:"primary", element:"input", text:"立即重发"})
                  +button({disabled:true, text:"发送中..."})
                  span.help-inline 验证码不正确，请检查
                .actions.error
                  +button({option:"primary", element:"input", text:"立即重发"})
                  span.help-inline 发送失败，请重发！
              .alert.alert-success
                i.ico
                .info
                  p 邮件已重新发送，请关闭窗口登录邮箱验证。
            +close
          // End:请输入验证码

        when "course-apply"
          // Start:课程报名浮层
          #modalApply.modal.modal-apply(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 课程报名
            .modal-body
              // Start:报名表单
              .form
                .form-row.name
                  label.control-label 课程名称：
                  .controls
                    != article.title
                .form-row.error
                  label.control-label 联系人：
                  .controls
                    input.input-text(type="text")
                  span.help-inline 请填写联系人
                .form-row.multi
                  label.control-label 手机号：
                  .controls
                    input.input-text(type="text")
                  span.help-inline
                    | 请填写常用的手机号，
                    br
                    | 方便随时取得联系
                .form-row
                  label.control-label 邮箱：
                  .controls
                    input.input-text(type="text")
                  span.help-inline 用于接收确认通知
                .form-row
                  label.control-label 上课地点：
                  .controls
                    select#select01.width-auto
                      option 请选择上课地点
                .actions
                  +button({option:"primary", text:"提交"})
                  .loading-mini
              // End:报名表单
              // Start:报名成功
              .alert.alert-success.hidden
                i.ico
                .info
                  h3 报名成功!
                  p
                    != article.author
                    | 成功报名了“
                    != article.title
                    | ”。
                  p
                    | 上课地点：区庄校区，江南西路33号2楼520室
                  p
                    | 稍后我们会将确认通知发到您的手机，请留意
                  .actions
                    +button({text:"关闭", option:"primary"})
              // End:报名成功
            +close
          // End:课程报名浮层

        when "comment-course"
          // Start:评价课程浮层
          #modalComment.modal.modal-comment(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 评价课程
            .modal-body
              // Start:评价表单
              .form.hidden
                .form-row.name
                  label.control-label 课程名称：
                  .controls
                    strong 看图识字趣味班运用班
                .form-row
                  label.control-label 综合点评：
                  .controls
                    textarea.input-text
                .actions.error
                  +button({option:"primary", text:"提交"})
                  .loading-mini
                  .help-inline 请输入点评内容
              // End:评价表单
              // Start:评价成功
              .alert.alert-success
                i.ico
                .info
                  h3 评价发表成功!
                  .actions
                    +button({text:"确定", option:"primary"})
              // End:评价成功
            +close
          // End:评价课程浮层

        when "xsc-info"
          // Start:评价课程浮层
          #modalComment.modal.modal-xsc-info(class="#{modal.show? '':'hidden'}")
            .modal-body
              ul.xsc-info
                li
                  h3 原大联盟包含：
                  p 育才实验学校、香江中学、番禺香江育才实验学校、四中聚贤中学、华附新世界学校、真光实验学校、南海执信中学、番禺执信中学、广大附属实验学校、中大附属雅宝学校、番禺仲元实验学校、西关外国语实验学校、广外附属中学、增城广外附属外国语学校
                li
                  h3 小联盟包含：
                  p 二中应元学校、二中苏元实验学校、荔湾广雅实验学校、白云广雅实验学校、六中珠江中学、黄埔军校纪念中学
                li
                  h3 外国语学校包含：
                  p 广州外国语学校、华侨外国语学校、天河外国语学校、西关外国语学校、秀全外国语学校
                li
                  h3 单考民校包含：
                  p 中山大学附属中学、南武实验学校、广东实验中学附属天河学校
                li
                  h3 公办初中包含：
                  p 第七中学、育才中学、华南师范大学附属中学、执信中学
            +close
          // End:评价课程浮层

        when "cancel-apply"
          // Start:取消活动报名浮层
          #modalCancel.modal.modal-cancel-apply(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 取消报名
            .modal-body
              .form.hidden
                .form-row.name
                  label.control-label 课程名称：
                  .controls
                    .text
                      strong 看图识字趣味班运用班
                .form-row
                  label.control-label 活动时间：
                  .controls
                    .text 2014-10-26 10:10
                .form-row
                  label.control-label 活动地点：
                  .controls
                    .text 广州市海珠区
                .form-row
                  label.control-label 报名人数：
                  .controls
                    .text 1成人2小孩
                .form-row
                  label.control-label 联系人：
                  .controls
                    .text 荔湾广雅陈大妈
                .form-row
                  label.control-label 电话号：
                  .controls
                    .text 13800138000
                .form-row
                  label.control-label 费用：
                  .controls
                    .text
                      strong
                        span.hl 128
                        | 元
                .actions.error
                  +button({option:"primary", text:"申请取消"})
                  .loading-mini
                  .help-inline 服务器出错
              // Start:评价成功
              .alert.alert-success
                i.ico
                .info
                  h3 您的申请已收到!
                  p 我们会尽快与您联系，请保持您的电话畅通。
                  .actions
                    +button({text:"完成", option:"primary"})
              // End:评价成功
            +close
          // End:取消活动报名浮层
        when "comparison-list"
          // Start:学校对比列表浮层
          .modal.modal-tips.modal-comparison(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 对比学校
            .modal-body
              // 列表为空
              .alert.alert-info
                i.ico
                .info
                  p 您未选择对比学校，暂时无法对比
              .actions
                +button({option:"primary"})
              // 对比列表
              .comparison-list
                ul
                  - for(var i=1; i<=4; i++)
                    li
                      .operations
                        +button({text:"取消对比", dimension:"small"})
                      .name
                        a(href="#", target="_blank") 华南师范大学附属中学初中部华南师范大学附属中学初中部
              .actions
                +button({option:"primary", text:"开始对比"})
              // 添加学校超过指定数量提示浮层
              .alert.alert-info
                i.ico
                .info
                  p 对不起！每次最多可对比4所学校。您可以：
                  p
                    a(href="#") 清空对比筐
                    != " 或者 "
                    a(href="#") 取消部分学校
              .actions
                +button({option:"primary"})
            +close
          // End:学校对比列表浮层

        when "baidu-map"
          // Start:百度地图浮层
          .modal.modal-tips.modal-map(class="#{modal.show? '':'hidden'}")
            .modal-header
              h3 学校地址
            .modal-body
              h3.name 华南师范大学附属中学
              .address 地址：广州市越秀区中山三路33号中华国际中心B座2407室
              .map
                +dummy(640, 280)
              .tips 注：地图位置标注仅供参考，具体情况以实际道路标识信息为准
              .operations
                a(href="#") 打印
                i |
                a(href="#", target="_blank") 前往百度地图
            +close
          // End:百度地图浮层
