
if current.source == "treasury"
    .header
        .header-bar.clearfix
            ul
                each item, index in nav_link
                    li
                        a(href='#{item.slug}.html', title='#{item.label}')= item.label
                        unless index == nav_link.length - 1
                            i |
            // 用户未登录状态
            .fr
                a.btn-login(href='#',title='登录') 登录
                i |
                a.btn-reg(href='#',title='注册') 注册
            // 用户登录状态
            .fr
                a(href='',title='')
                    .ui-avatar.mr5
                        img(src="#{current.base}img/avatar.jpg", alt="哎呀妈妈")
                    span 哎呀妈妈
                i |
                a.btn-reg(href='#',title='注册') 注销
else
    .header
        .header-container.clearfix
            a.logo(href='index.html',title='高分家长')
                img(src="#{current.base}img/logo.png", alt="高分家长")
            ul.ml10
                each item in nav_link
                    li
                        a(href='#{item.slug}.html', title='#{item.label}',class='link-#{item.slug}')
                            i.icon(class="icon-#{item.slug}")
                            span= item.label
                            if item.slug == 'treasury'
                                span &or;
            unless current.source == "search" || current.source == "search-special" || current.source == "search-topic"
                form.form(action='search.html')
                    input(type='text', placeholder='请输入要搜索的关键词')
                    a.btn-search(href='javascript: void(0);')
                        i.icon.icon-search
                        input(type='submit',value='')
            if current.source == "article"
                .reg-login.fr
                    a.ui-avatar(href='',title='')
                        img(src="#{current.base}img/avatar.jpg", alt="哎呀妈妈")
                    a.header-user(href='',title='') 哎呀妈妈妈妈
                    .user-home-list
                        i.icon.bg-user-top
                        ul.user-list
                            li: a(href='#',title='') 个人中心
                            li: a(href='#',title='') 注销

            else
                .reg-login.fr
                    a.btn-login(href='#',title='登录') 登录
                    a.btn-reg(href='#',title='注册') 注册

    .header-slide
        include _index-header-slide
