//------------------------------
//- 挂件：词条
//------------------------------
mixin widget-entry-list(params)
  - var params = params || {}
  - var widget_title =  params.title || "最新词条"

  .widget.widget-entry-list(class="#{params.ex_class ? params.ex_class : ''}")
    if params.grades
      .heading.heading-tabs
        .title= widget_title
        .tabs-s2
          span.item.item-primary 小学
          span.item.item-junior.active 初中
          span.item.item-senior 高中
      .tab-cont
        +tag-list
    else if params.categories
      +heading({title:widget_title})
      each category in params.categories
        .hd
          a(href="category-list.html", target="_blank")= category
        +tag-list
    else
      +heading({title:widget_title})
      +tag-list

//------------------------------
//- 挂件：词条
//------------------------------
mixin widget-hot-entries(params)
  - var params = params || {}

  .widget.widget-hot-entries(class="#{params.ex_class ? params.ex_class:''}")
    .heading.heading-tabs
      .title= params.title || "每周热门词条"
      .tabs-s2
        span.item.item-primary 小学
        span.item.item-junior.active 初中
        span.item.item-senior 高中
    .tab-cont
      ul.ranking-entry
        - for(var i=1; i<=8; i++)
          li(class="#{i<=3 ? 'top' : ''}")
            i.num= i + "."
            span.tit
              a(href="#", target="_blank", title="#{article.title}")= article.title
            span.view 23422次浏览
            span.stat
              case i%3
                when 1
                  i.icon-up
                when 2
                  i.icon-down
                default
                  i.icon-fair

