---
page_title: "广州站-资料频道-申请合作"
category: "default"
body_class: ["data-page", "data-cooperation"]
stylesheets: ["data"]
breadcrumb: ["资料", "中考"]
---

//- 模板继承
extends ../../_layout

//- 内容
block content
  // Start: 主导航
  +navbar(default_nav_links)
  // End: 主导航

  .container.page-content
    // Start:申请合作
    .coop-mod.coop-apply
      .hd
      .bd
        .info.contact
          p 电话：020-38350411
          p 邮箱：guodong@gaofen.com
        .info.condition
          p 填写机构审核文档
          p 提交相关版权学习资料
        .info.sp
          p 成为高分网资料频道合作方
          p 拥有专属的资料分享交易专区
    // End:申请合作
    // Start:申请条件
    .coop-mod.coop-condition
      .hd
      .bd
        ul
          li 1. 申请机构必须是在工商部门注册合法的教育辅导机构。
          li 2. 申请教师必须是获得高级职称的在职人员并具有丰富的教学相关资料。
          li 3. 对于提供的资料，提供者应用有内容版权或者是相关版权授权。
          li 4. 申请者应遵守高分网资料频道的合作规范。
    // End:申请条件
    .clearfix
      // Start:合作机构
      .coop-mod.coop-company
        .hd
          a(href="#")
            i.icon-pdf
            | 下载机构合作手册
        .bd
          ul
            li
              a(href="#")
                img(src="#{current.base}img/data/v3/logo_xdf.png", alt="新东方")
            li
              a(href="#")
                img(src="#{current.base}img/data/v3/logo_zy.png", alt="卓越教育")
            li
              a(href="#")
                img(src="#{current.base}img/data/v3/logo_gaofen.png", alt="高分网")
            li
              a(href="#")
                img(src="#{current.base}img/data/v3/logo_jh.png", alt="京翰教育")
            li
              a(href="#")
                img(src="#{current.base}img/data/v3/logo_xd.png", alt="学大教育")
            li
              a(href="#")
                img(src="#{current.base}img/data/v3/logo_ls.png", alt="立尚教育")
      // End:合作机构
      // Start:合作教师
      .coop-mod.coop-teacher
        .hd
          a(href="#")
            i.icon-pdf
            | 下载教师合作手册
        .bd
          ul
            - var i = 6
            - while(i--)
              li
                .thumb
                  a(href="#", title="张老师")
                    +avatar(40)
                .info
                  h3
                    a(href="#", title="张老师") 张老师
                  p 新东方一级英语培训教师
      // End:合作教师