---
page_title: "表单-手机版"
---

include ../partials/_components

doctype html
html
  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= site_name + '-' + page_title
    meta(name="keyword", content="#{page_keyword || ''}")
    meta(name="description", content="#{page_description || ''}")
    meta(name="HandheldFriendly", content="true")
    meta(name="MobileOptimized", content="320")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="cleartype", content="on")
    meta(name="format-detection", content="telephone=no")
    meta(name="msapplication-TileColor", content="#222222")
    link(href="#{current.base}styles/mobile.css", rel="stylesheet")
  body(class=body_class?body_class:'')
    .entry
      .form-header
        h1.form-name 未命名表单
        .form-description 您可以使用该表单调查客户对服务的满意程度，从而提升服务质量。
      form(id="", method="", action="")
        // Start: 单行文字
        .fields
          +field
            input.form-control.input-lg(type="text")
          // End: 单行文字

          // Start: 单行文字-带设定
          +field({required:true, locked:true, verify_tips:"请输入最少10个字符", help_message:'分隔请用"-"或空格，国际电话请加"+"'})
            input.form-control.input-lg(type="text")
          // End: 单行文字-带设定

          // Start: 多行文字
          +field
            textarea.form-control(rows="5")
          // End: 多行文字

          // Start: 日期
          +field
            input.form-control.input-lg(type="date")
          // End: 日期

          // Start: 单项选择-纵向
          +field
            .choices
              - for(var i=1; i<=3; i++)
                .radio
                  label
                    input(type="radio")
                    | 选项
              .radio.other-choice
                label
                  input(type="radio")
                  | 其他
                input.form-control.input-lg(type="text")
          // End: 单项选择-纵向

          // Start: 多项选择-纵向
          +field
            .choices
              - for(var i=1; i<=3; i++)
                .checkbox
                  label
                    input(type="checkbox")
                    | 选项
              .checkbox.other-choice
                label
                  input(type="checkbox")
                  | 其他
                input.form-control.input-lg(type="text")
          // End: 多项选择-纵向

          // Start: 下拉框
          +field
            - for(var i=1; i<=2; i++)
              select.form-control.input-lg
                option 请选择
                - for(var j=1; j<=3; j++)
                  option 选项
          // End: 下拉框

          // Start: 数字
          +field
            .input-number
              button.minus -
              input.form-control.input-lg(type="text", value="0")
              button.plus +
          // End: 数字

          // Start: 验证码
          +field
            .captcha
              input.form-control.input-lg(type="text")
              img(src="#{current.base}images/captcha.png", alt="")
              a(href="#") 看不清，换一张
          // End: 验证码

          .field.submit-field
            input.btn.btn-primary.btn-lg.btn-block(type="submit", value="提交")

    // Start: 提交成功提示
    .msg-success
      h3 提交成功！
      p 谢谢您的参与。
    // End: 提交成功提示
