include partials/_components

doctype html
html(class="#{root_class ? root_class:''}")
  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible", content="ie=edge")
    title= site_name + '-' + page_title
    meta(name="keyword", content="#{page_keyword || ''}")
    meta(name="description", content="#{page_description || ''}")
    meta(name="HandheldFriendly", content="true")
    meta(name="MobileOptimized", content="320")
    meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui, maximum-scale=1.0, user-scalable=no")
    meta(http-equiv="cleartype", content="on")
    meta(name="format-detection", content="telephone=no")
    meta(name="msapplication-TileColor", content="#222222")
    link(rel="stylesheet", type="text/css", href="#{current.base}css/base.css")
    block css
  body(class=body_classes)

    include partials/_header

    if navbar
      include partials/_navbar

    block ad

    block filter-bar

    //- 内容
    .page-content
      block content

    include partials/_footer

    block tool-bar

    block tips

    block share-guide

    .ui-mask.hidden

    if loading
      .ui-loading
        .icon-loading
          .dot.dot1
            i.dot-t
            i.dot-b
          .dot.dot2
            i.dot-t
            i.dot-b
          .dot.dot3
            i.dot-t
            i.dot-b
          .dot.dot4
            i.dot-t
            i.dot-b

    script(type="text/javascript", src="#{current.base}scripts/vendor/zepto.min.js")
    block javascript
    script.
      $(function ($) {
        var body = $("body");
        var mask = $(".ui-mask");
        var options = $(".ui-options");
        var options_flex = $(".ui-options-flex");

        $("#navToggle, .city-switcher").on('click', function(e){
          if(body.hasClass("hide-nav")){
            body.removeClass("hide-nav");
          }
          if(body.hasClass("show-nav")){
            body.addClass("hide-nav");
          }
          $(this).toggleClass("active");
          body.toggleClass("show-nav");
          mask.toggleClass("hidden");
        });

        $(".test1").on('click', function(e){
          if(body.hasClass("hide-options")){
            body.removeClass("hide-options");
          }
          if(body.hasClass("show-options")){
            body.addClass("hide-options");
          }
          body.toggleClass("show-options");
          options_flex.toggleClass("hidden");
          //- mask.toggleClass("hidden");
        });
        $(".test2,.test3,.test4").on('click', function(e){
          if(body.hasClass("hide-options")){
            body.removeClass("hide-options");
          }
          if(body.hasClass("show-options")){
            body.addClass("hide-options");
          }
          body.toggleClass("show-options");
          options.toggleClass("hidden");
          //- mask.toggleClass("hidden");
        });
      }(Zepto));
