---
page_title: "高中库-志愿填报页"
category: "library"
body_class: ["aspiration-page"]
stylesheets: ["senior"]
breadcrumb:
  - "首页"
  - "学校信息"
  - "华南师范大学附属中学"
is_new: false
entries:
  -
    label: "借读生"
    url: ""
  -
    label: "外区生"
    url: ""
  -
    label: "跨区生"
    url: ""
  -
    label: "外地回穗生"
    url: ""
  -
    label: "三侨生"
    url: ""
  -
    label: "高分优先投档线"
    url: ""
  -
    label: "最低控制分数线"
    url: ""
  -
    label: "志愿优先原则"
    url: ""
  -
    label: "同分投档"
    url: ""
faq_list:
  -
    title: "广州户籍生中考填报志愿范围有哪些规定？"
    url: "http://zhongkao.gaofen.com/article/446640.htm"
    discuss_url: "http://bbs.gaofen.com/thread-3154844-1-1.html"
  -
    title: "外地生能报外区示范高中吗？"
    url: "http://zhongkao.gaofen.com/article/438451.htm"
    discuss_url: "http://bbs.gaofen.com/thread-3154846-1-1.html"
  -
    title: "外区生招生15%与跨区生是一回事吗？"
    url: "http://zhongkao.gaofen.com/article/446642.htm"
    discuss_url: "http://bbs.gaofen.com/thread-3154852-1-1.html"
  -
    title: "提前批只能报前六所学校中的一所吗？"
    url: "http://zhongkao.gaofen.com/article/438457.htm"
    discuss_url: "http://bbs.gaofen.com/thread-3154841-1-1.html"
  -
    title: "填报志愿时要求住宿对录取是否有影响？"
    url: "http://zhongkao.gaofen.com/article/424246.htm"
    discuss_url: "http://bbs.gaofen.com/forum.php?mod=forumdisplay&fid=49&filter=typeid&typeid=434"
  -
    title: "报独立批对后面录取是否影响？"
    url: "http://zhongkao.gaofen.com/article/436014.htm"
    discuss_url: "http://bbs.gaofen.com/forum.php?mod=viewthread&tid=3133454"
  -
    title: "省实自筹经费班只能从第二志愿开始吗？"
    url: "http://zhongkao.gaofen.com/article/438862.htm"
    discuss_url: "http://bbs.gaofen.com/forum.php?mod=viewthread&tid=1496516"
  -
    title: "报广附国防班还是报广雅？"
    url: "http://zhongkao.gaofen.com/article/438750.htm"
    discuss_url: "http://bbs.gaofen.com/forum.php?mod=viewthread&tid=3138650"
  -
    title: "被录取后能不能退档再参加补录？"
    url: "http://zhongkao.gaofen.com/article/439001.htm"
    discuss_url: "http://bbs.gaofen.com/forum.php?mod=viewthread&tid=3137132"
flows:
  -
    title: "了解政策"
    more:
      label: "了解更多中考政策&gt;"
      url: "http://zhongkao.gaofen.com/list/zkzhengce"
    posts:
      -
        title: "外地生可报考公办高中"
        description: "2014至2016年是广州“异地中考”政策过渡期。这三年内具有广州市初中阶段三年完整学籍但不具备政策性照顾借读条件的非本市户籍学生，可报考省、市属公办普通高中和毕业学校所在区属公… "
        url: "http://zhongkao.gaofen.com/article/438126.htm"
      -
        title: "公办普通高中取消择校招生"
        description: "根据教育部等七部门《关于2012年治理教育乱收费规范教育收费工作的实施意见》（教办〔2012〕4号） ，各地要在三年内取消普通高中招收择校生。为此，广州市从今年开始，取消公办普通… "
        url: "http://zhongkao.gaofen.com/article/438126.htm"
      -
        title: "志愿个数调整，投档录取规则调整"
        description: "提前批前独立招生和提前批志愿个数全市统一，分别为1个和4个。第一批至第三批志愿数各区有所不同，具体由各区根据所辖招生学校的数量多少自行确定……2014年各批次的“最低控制分数… "
        url: "http://zhongkao.gaofen.com/article/438676.htm"
  -
    title: "成绩预估"
    posts:
      -
        title: "成绩预估原则"
        description: "预测成绩有两个原则：一、只能预测范围；二，成绩越高，范围越窄。要想预测出一个准确的成绩是不可能，也是不科学的。所以预测成绩的时候只预测一个范围即可。一般来说成绩越高的同学，成绩浮动的越小，所以预测出来的成绩范围也就越窄。"
      -
        title: "成绩预估方法"
        description: "那如何预测成绩呢？通常有两种方法，第一种是排名地位法，第二种是根据最近几次的大考来预测。"
        subs:
          -
            title: "方法一：排名定位法"
            description: "了解自己的排名，然后看往年中考与自己排名相同的学生能考什么分数。现在一摸成绩已经出来，同学们大多知道自己的去排名或年级排名，可以去看看去年这个排名的学生能考什么分数… "
            url: "http://zhongkao.gaofen.com/article/438398.htm"
          -
            title: "方法二：平均值法"
            description: "那有些学生不知道排名，怎么办？这时候可以采用一种比较简单的方法：将最近几次统考的文化课成绩相加取平均值，加上体育以及各种政策加分，从而得出一个预测成绩… "
            url: "http://zhongkao.gaofen.com/article/438398.htm"
  -
    title: "选择学校"
    more:
      label: "估分选校&gt;"
      url: "#"
    description: "估算出自己的成绩之后，下一步就是选择目标学校。首先了解自己可以报考的范围，其次根据成绩筛选学校，最后是考察学校各方面的因素，选出心仪的学校。"
    posts:
      -
        title: "了解自己可以报考的范围"
        description: "不同类型考生可报考的范围是不一样的。尤其是今年广州中考开始进入“异地中考”过渡期，公办高中取消择校，非户籍生的报考范围发生了一些变化。各类考生具体的报考范围请看《广州中… "
        url: "http://zhongkao.gaofen.com/article/437944.htm"
      -
        title: "根据成绩筛选学校"
        description: "根据自己的成绩筛选出一批自己有可能考上的学校。拿自己预测的成绩跟去年的录取分数线对比一下，大概就可以知道自己能去哪些学校。比如700分以上的可以去是前7所高中（华附、省实、执信、广雅、二中，六中，广附）。再低一点就考虑铁一、真光…每个分数段都有一批可选择学校。当然是成绩越好选择的余就地越大。"
      -
        title: "多方面考虑学校"
        description: "首先是考虑自己的是否喜欢，不喜欢的绝对不选。在一个自己不喜欢的学校呆三年绝对不好受。 其次才学校方面的因素。可以从是三方面考虑是学校否适合自己：一是学校远近，宿位安排。二… "
        url: "http://zhongkao.gaofen.com/article/438405.htm"
  -
    title: "科学填报"
    posts:
      -
        title: "志愿之间要拉开梯度"
        description: "填报志愿最重要的一点是保证志愿之间有合理的梯度。只有这样才能保证每个志愿都有被录取的可能，不至于全部志愿都失守。但请注意，不是两个志愿差多少分才叫有梯度。当上一个志愿没… "
        url: "http://zhongkao.gaofen.com/article/438351.htm"
      -
        title: "活用三个工具填报志愿"
        description: "填报志愿时考生和家长们都会参考往年的录取数据。但是大多数人只看录取分数线。其实，除了录取最低分数，其他像“高分优先投档线”，“末位考生志愿序号”，“末位考生分数”对于填… "
        url: "http://zhongkao.gaofen.com/article/438500.htm"
      -
        title: "不同分数段考生志愿填报方案"
        description: "广州中考是考前估分填志愿，根据预测的成绩，大概可以把考生分成三类，第一类是预测成绩高于提前批优先投档线，第二类是预测成绩在提前批优先投档线附近，第三类是预测成绩低于提前… "
        url: "http://zhongkao.gaofen.com/article/438468.htm"
---

//- 模板继承
extends ../_layout

block header
  // Start: 页头
  +header("senior")
  // End: 页头

//- 内容
block content
  .container.page-content
    .row.row14-6
      .span14
        .box.aspiration-flow
          each flow, index in flows
            .sec
              .sec-hd
                span 第
                span.num= index + 1
                span
                  != "步. " + flow.title
              .sec-bd
                if flow.description
                  p.leadin= flow.description

                dl
                  each post in flow.posts
                    dt
                      if post.url
                        a(href="#{post.url}", target="_blank")= post.title
                      else
                        != post.title
                    dd
                      p
                        != post.description
                        if post.url
                          a(href="#{post.url}", target="_blank") 详细
                      if post.subs
                        each sub in post.subs
                          p
                            strong
                              if sub.url
                                a(href="#", target="_blank")= sub.title
                              else
                                != sub.title
                          p
                            != sub.description
                            if sub.url
                              a(href="#{sub.url}", target="_blank") 详细

                if flow.more
                  .more
                    a(href="#{flow.more.url}", target="_blank")
                      != flow.more.label

      .span6
        // Start: 侧栏挂件-中考志愿名词解释
        +widget-entries({title:"中考志愿名词解释", entries:entries})
        // End: 侧栏挂件-中考志愿名词解释

        // Start: 侧栏挂件-中考志愿快讯
        +widget-posts
        // End: 侧栏挂件-中考志愿快讯

        // Start: 侧栏挂件-志愿问答
        +widget-faq({faq_list:faq_list})
        // End: 侧栏挂件-志愿问答


