---
page_title: "课程详情页"
body_class: ["detail-page"]
---
extends _layout
block css
    link(rel="stylesheet", type="text/css", href="#{current.base}css/unslider.css")
block content
    .container
        // 课程详情
        .setting-wrap.mt30
            .course-detail-title
                h1.mr10= article.title
                span.ui-label.label-grey 初中-数学
            .clearfix.mb40
                .course-detail-info.fl
                    .course-detail-time
                        i.icon.icon-detail-time
                        strong 开课时间：
                        strong.mr10 11月3日 19:00~20:00
                    .course-detail-stage
                        i.icon.icon-detail-stage
                        strong 适合阶段：
                        strong 初一 初二 初三
                    .course-price
                        span.font-price &yen;499
                        span 已有
                        strong.ml5.mr5 358
                        span 人报名
                        a.btn.btn-orange.disabled.fr#btn-yuyue(href='javascript:;') 预约听课
                .course-detail-teacher.fr
                    .detail-teacher-top
                        i.icon.icon-detail-teacher
                        span.font-blue.ml5 授课教师
                    .slider-item-len
                        | /&nbsp;
                        span 10
                    .teacher-slider
                        ul.unslider-wrap
                            - for(var i=0;i<3;i++)
                                li.unslider-item
                                    .fl
                                        .ui-avatar
                                            img(src='#{current.base}img/avatar.jpg')
                                        .tc
                                            strong.font-md 陆小生
                                            .font-grey.font-sm 初中-数学
                                    .ml80
                                        .teacher-info
                                            | 文言之奥：文言文教学有独特的体系、方法经辅导学员多在一、二模考试中取得文言文阅读满分的好成绩，很多家长慨叹:“听了张老师的课后才知道难这样的老师太幸运了!
                                        .teacher-num.clearfix
                                            .teacher-num-left.fl
                                                span.font-xxl.font-blue 16
                                                div 授课次数
                                            i.fl |
                                            .teacher-num-right.fl
                                                span.font-xxl.font-blue 25
                                                div 听课人次
            .ui-tab
                ul
                    li: a.tab.active(href='javascript:;',title='') 课程介绍
                    li: a.tab(href='javascript:;',title='') 课程表

            .tab-container.mt20
                .course-detail-content
                    .course-detail-p-title 课程目标
                    div
                        i.icon.icon-detail-target
                        .course-detail-p
                            | 1. 掌握分析行程问题的基本方法和思路，会处理不同类型的行程问题；
                            br
                            | 2. 掌握数形结合的数学分析方法；
                .course-detail-content
                    .course-detail-p-title 主要知识点
                    div
                        i.icon.icon-detail-point
                        .course-detail-p 平均速度 、 环形跑道 、  火车过桥 、 流水行船多人多次相遇
                div.pt30
                    .course-detail-p-title 学习服务
                    img(src='#{current.base}img/block/detail-img-1.jpg',alt='金牌教学')
                    p 学习 QQ 群 42901892092
                    p 小王老师不定时出没，带大家通关数学迷宫

    include partials/_mask

block javascript
    script(src='#{current.base}js/unslider-min.js')
    script.
        var sliderLen = $('.unslider-item').length;
        if(sliderLen > 1){
            $('.teacher-slider').unslider({
                //animation: 'fade',
                animation: 'vertical',
                autoplay: true
            })
        }else{
            $('.teacher-slider').unslider()
        }
        var sliderItemLen = $('.unslider-nav li').length;
        $('.slider-item-len span').text(sliderItemLen);

        $('#btn-yuyue').click(function () {
            $('.ui-mask').removeClass('hidden');
            $('.mask-wrap').removeClass('hidden');
        })
        $('.btn-close').click(function () {
            $('.ui-mask').addClass('hidden');
            $(this).parent().addClass('hidden');
        })
