- var suffix = environment == "production" ? ".min" : "";

//- 导入元件
//------------------------------
//- 全站公用元件
include ../partials/_components
//- 学校库公用元件
include partials/_components

//- 导入页头
//------------------------------
include partials/_header

//- 导入侧栏挂件
//------------------------------
//- 导入公用侧栏挂件mixin（需要用到侧栏挂件-关注高分中考）
include ../partials/_widgets
//- 学校库公用侧栏
include partials/_widgets

//- 导入学校库公用比较表头
include partials/_comparison-header

//- 导入浮层
include ../partials/_modals

doctype html
<!--[if lt IE 7 ]>
<html class="ie6">
<![endif]-->
<!--[if IE 7 ]>
<html class="ie7 gt-ie6">
<![endif]-->
<!--[if IE 8 ]>
<html class="ie8 gt-ie7">
<![endif]-->
<!--[if IE 9 ]>
<html class="ie9 gt-ie8">
<![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="gt-ie9">
<!--<![endif]-->
head
  meta(charset="UTF-8")
  title= site_name + page_title
  meta(name="keyword", content="")
  meta(name="description", content="")
  link(rel="stylesheet", href="#{current.base}css/library/base#{suffix}.css")
  if stylesheets
    each stylesheet in stylesheets
      link(rel="stylesheet", href="#{current.base}css/#{category}/#{stylesheet}#{suffix}.css")
body(class=body_class ? body_class : false, id=body_id ? body_id : false)
  <!--[if lt IE 7 ]>
  <div class="fuck-ie6">您的IE浏览器版本过低，可能影响正常使用，请更新版本或者使用其他浏览器</div>
  <![endif]-->
  #wrap
    // Start: 顶部导航栏
    include partials/_topbar
    // End: 顶部导航栏

    block header

    block content

    if old_layout
      // Start: 页脚
      include ../partials/_old-footer
      // End: 页脚

  // Start: 返回顶部
  include ../partials/_gotop
  // End: 返回顶部

  block qrcode
    include ../partials/_qrcode

  // Start: 学校PK
  a.pk.ani(title="对比学校", href="#")
    span.pk-dot
    span.num 2
  // End: 学校PK

  if ad_footer0
    // Start: 底部悬浮广告条
    include ../partials/_ad-footer
    // End: 底部悬浮广告条

  if details_tabs
    // Start: 顶部固定选项卡
    .tabs-fixed
      .container
        include partials/_tabs
        - var school_tabs = stylesheets == "junior" ? library_school_tabs.junior : library_school_tabs.senior
        +details-tabs(school_tabs)
    // End: 顶部固定选项卡

  if fixed_comparison
    // Start: 顶部固定学校对比表头
    .comparison-fixed.hidden
      .inner
        .container
          .comparison-table
            table
              tbody
                +comparison-header()
    // End: 顶部固定学校对比表头

  if environment != "production" || outputModal == true
    +modal({modals:modals})


</html>