- var suffix = environment == "production" ? ".min" : "";

//- 全站公用元件
//------------------------------
include partials/_components


doctype html
html(class="#{root_class ? root_class:''}")
    head
        meta(charset="UTF-8")
        meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=no,maximum-scale=1.0")
        meta(name="apple-touch-fullscreen",content="yes")
        meta(name="apple-mobile-web-app-capable",content="yes")
        meta(name="format-detection",content="telephone=no")
        meta(name="apple-mobile-web-app-status-bar-style",content="black")
        title= page_title
        meta(name="keyword", content="")
        meta(name="description", content="")
        link(rel="stylesheet", type="text/css", href="#{current.base}css/base#{suffix}.css")

    body
        .wrap(class=body_class ? body_class : false, id=body_id ? body_id : false)

            block content


        block javascript