---
page_title: "详情页"
body_class: ["detail-page"]
---

extends _layout

block content
    // 音频主体
    .audio-wrap
        img.audio-bg(src='#{current.base}img/audio-bg.jpg',alt='')
        .audio-container
            img.audio-img(src='#{current.base}img/audio-img-1.png',alt='')
            audio#audio-player(src='http://file.gaofen.com/huodong/voice/11/8840315_dd6371ae3d2e87609d72de0032106909.mp3')
            .btn-play.stop#btn-play(data-state='pause')
        .audio-title-wrap
            #audio-title 第一课： 阅读从出生第一天开始
        #audio-brief 孩子从睁眼看世界的第一天就已经进入了阅读这个世界的状态，身边的每个物品都是孩子的读物

        // 时间
        .time
            #playTime --:--
            #totalTime --:--
        // 进度条
        .audio-time-bar#audio-time-bar
            .w10
            .progress-bar#progress-bar
                span#bar-point
            #load-present-bar

    // 作者
    .author-wrap
        .clearfix.mb10
            .fl
                .ui-avatar
                    img(src='#{current.base}img/author-img.png', alt='')
                .icon-fav 关注
            .author-detail
                strong.mr10 史秀容
                span.ui-label.ui-label-pink 北京师范大学教育博士
                p= article.summary
        .question-wrap.hidden
            .tc.pt30
                .limit-free
                    img(src='#{current.base}img/limit-free.png',alt='')
                    del.font-pink-lither 提问&yen;5
                .surplus-content
                    p
                        | 剩余时间：
                        span 32:56:18
                    p
                        | 剩余问题：
                        span 3 条

        .question-wrap
            .font-grey.tc.mt40 轻松付
                span.font-pink 5元
                | ，向Ta提问
        .question-wrap.hidden
            form
                textarea(rows='3')
                .bg-grey.clearfix
                    i.icon.icon-light
                    span 专家72小时内未有回复将自动退款
                    input.btn.btn-primary.fr(type='button',value='发表提问')
        .checked-wrap.selected
            i.icon.icon-check
            span.font-grey 公开提问，答案每被偷偷听1次，从中获得&yen;0.4


    // 专家音频列表
    .audio-list
        +tab([{active: true, label: '提问', hot: '3'},{active: false, label: '专家方法', hot: '5'}])

        .tab-container
            - for (var i=0;i<3;i++)
                +question({title: '美美的猫爪',img:'../img/audio-current-img.jpg',imgZj:'../img/author-img.png',listener: true ,money: true})

        .tab-container.hidden
            include partials/_audio-list
    // 导航条
    include partials/_nav
block javascript
    script(src='#{current.base}js/zepto.min.js')
    script(src='#{current.base}js/audioPlayer.js')
    script(src='#{current.base}js/index.js')
    script.
        $('.tab').on('tap', function () {
            $(this).addClass('active').siblings('.active').removeClass('active');
            var idx = $(this).index();

            $('.tab-container').addClass('hidden').eq(idx).removeClass('hidden')
        })
        $('.checked-wrap').on('tap', function () {
            $(this).toggleClass('selected')
        })
