---
page_title: "个人页--专家"
body_class: ["home-page"]
---
extends _layout
block content

    .home-avatar.clearfix
        .ui-avatar.fl
            img(src='#{current.base}img/author-img.png', alt='title')
        .home-avatar-center
            input.font-pink.disabled(value='范特西猎人',disabled='disabled')
            span.ui-label.ui-label-pink 北京师范大学教育博士
    .row-flex
        a(href='cash.html')
            .font-grey 总收入
            .font-pink 238.00
            .ui-label.label-green 提现
        a
            .font-grey 关注了
            .font-pink 18人
        a
            .font-grey 关注者
            .font-pink 56人


    .audio-list.mt10
        +tab([{active: true, label: '专家动态'}, {active: false, label: '我的消息', new: true}, {active: false, label: '我的收听'}])

        .tab-container
            +audio-list({
                title: '第二课：怎样让一二年级孩子爱上阅读？',
                src: 'http://file.gaofen.com/huodong/voice/11/8840315_fd928f810f0f33fd218c656d9512b4de.mp3',
                info: '怎样让一二年级孩子爱上阅读怎样让一二年级孩子爱上阅读怎样让一二年级孩子爱上阅读怎样让一二年级孩子爱上阅读',
                img: '../img/audio-img-2.png',
                isNew: false,
                href: 'index.html#2'
            })
            - for (var i=0;i<3;i++)
                +question({
                    title: '美美的猫爪',
                    img: '../img/audio-current-img.jpg',
                    imgZj: '../img/author-img.png',
                    from: '史秀荣',
                    money: true
                })
        .tab-container.hidden
            a.item(href="reply-form.html",title='美美的猫爪')
                .ui-avatar.fl
                    img(src='#{current.base}img/author-img.png',alt=)
                .item-content
                    .item-title
                        strong.font-pink 美美的猫爪
                        .fr
                            span.ui-label.ui-label-pink 未回复
                    .font-grey= article.summary
                .font-grey.font-sm.mt10
                    span 来自
                    span.font-pink 《亲自共读怎么读？》
                    span 的追问
            a.item(href="reply-form.html",title='美美的猫爪')
                .ui-avatar.fl
                    img(src='#{current.base}img/author-img.png',alt=)
                .item-content
                    .item-title
                        strong.font-pink 美美的猫爪
                        .fr
                            span.ui-label.ui-label-grey 已回复
                    .font-grey= article.summary
                .font-grey.font-sm.mt10
                    span 来自
                    span.font-pink 《亲自共读怎么读？》
                    span 的追问
            .item
                div 你在方法
                    span.font-pink 《亲子共读怎么读？》
                    | 下的回答被偷听了1次，获得
                    span.font-pink &yen;0.4
                    | 收入。
        .tab-container.hidden
            +audio-list({
                title: '第二课：怎样让一二年级孩子爱上阅读？',
                src: 'http://file.gaofen.com/huodong/voice/11/8840315_fd928f810f0f33fd218c656d9512b4de.mp3',
                info: '怎样让一二年级孩子爱上阅读怎样让一二年级孩子爱上阅读怎样让一二年级孩子爱上阅读怎样让一二年级孩子爱上阅读',
                img: '../img/audio-img-2.png',
                isNew: false,
                href: 'index.html#2'
            })
            - for (var i=0;i<1;i++)
                +question({
                    title: '美美的猫爪',
                    img: '../img/audio-current-img.jpg',
                    imgZj: '../img/author-img.png',
                    from: '史秀荣'
                })
    // 导航条
    include partials/_nav
block javascript
    script(src='#{current.base}js/zepto.min.js')
    script.
        $('.tab').on('tap', function () {
            $(this).addClass('active').siblings('.active').removeClass('active');
            var idx = $(this).index();
            $('.tab-container').addClass('hidden').eq(idx).removeClass('hidden')
        })