mixin field(params)
  - var params = params || {}

  .field(class="#{params.editing?'editing':''}")
    if params.designing
      i.fa.fa-bars.sort-handler
      .actions
        i.fa.fa-trash(title="删除")
        i.fa.fa-copy(title="复制")
      .icons
        if params.locked
          i.fa.fa-lock
    .form-group
      label.control-label(class="#{params.required?'required':''}")
        != params.label || '未命名'
        if params.verify_tips
          span= "（" + params.verify_tips + "）"
      if params.help_message
        .help-block
          != params.help_message
      .controls(class="#{params.has_error?'has-error':''}")
        if block
          block
        else
          if params.designing
            input.form-control.input-sm(type="text", disabled="disabled")
          else
            input.form-control.input-sm(type="text")
        if hide_message
          .error-message.hidden
            i.fa.fa-warning
            span 出错啦

mixin fields
  .fields
    // Start: 单行文字
    +field
    // End: 单行文字

    // Start: 单行文字-带设定
    +field({required:true, locked:true, verify_tips:"请输入最少10个字符", help_message:'分隔请用"-"或空格，国际电话请加"+"'})
    // End: 单行文字-带设定

    // Start: 多行文字
    +field
      textarea.form-control(rows="3")
    // End: 多行文字

    // Start: 日期
    .field
      .form-group
        label.control-label 日期
        .controls
            input.form-control.input-sm#datetimepicker(type="text")
          .error-message.hidden
            i.fa.fa-warning
            span 出错啦
    // End: 日期

    // Start: 单项选择-纵向
    +field
      .choices
        - for(var i=1; i<=3; i++)
          .radio
            label
              input(type="radio")
              | 选项
        .radio.other-choice
          label
            input(type="radio")
            | 其他
            input.form-control.input-sm(type="text")
    // End: 单项选择-纵向

    // Start: 单项选择-横向
    +field
      .choices
        - for(var i=1; i<=3; i++)
          label.radio-inline
            input(type="radio")
            | 选项
        label.radio-inline.other-choice
          input(type="radio")
          | 其他
          input.form-control.input-sm(type="text")
    // End: 单项选择-横向

    // Start: 多项选择-纵向
    +field
      .choices
        - for(var i=1; i<=3; i++)
          .checkbox
            label
              input(type="checkbox")
              | 选项
        .checkbox.other-choice
          label
            input(type="checkbox")
            | 其他
            input.form-control.input-sm(type="text")
    // End: 多项选择-纵向

    // Start: 多项选择-横向
    +field
      .choices
        - for(var i=1; i<=3; i++)
          label.checkbox-inline
            input(type="checkbox")
            | 选项
        label.checkbox-inline.other-choice
          input(type="checkbox")
          | 其他
          input.form-control.input-sm(type="text")
    // End: 多项选择-横向

    // Start: 下拉框
    +field
      - for(var i=1; i<=2; i++)
        select.form-control.input-sm
          option 请选择
          - for(var j=1; j<=3; j++)
            option 选项
    // End: 下拉框

    // Start: 数字
    +field
      .input-group
        .input-group-item
          span.label 成人
          .input-number
            button.minus -
            input.form-control.input-sm(type="text", value="0")
            button.plus +
        .input-group-item
          span.label 儿童
          .input-number
            button.minus -
            input.form-control.input-sm(type="text", value="0")
            button.plus +
    // End: 数字

    // Start: 验证码
    +field
      .captcha
        input.form-control.input-sm.w80(type="text")
        img(src="#{current.base}images/captcha.png", alt="")
        a(href="#") 看不清，换一张
    // End: 验证码

    if block
      block